# <center> KPMG optimising the quality of customer datasets </center>

### Here is the background information on your task
Sprocket Central Pty Ltd , a medium size bikes & cycling accessories organisation, has approached Tony Smith (Partner) in KPMG’s Lighthouse & Innovation Team. 

Sprocket Central Pty Ltd  is keen to learn more about KPMG’s expertise in its Analytics, Information & Modelling team. 

Smith discusses KPMG’s expertise in this space (you can read more here). In particular, he speaks about how the team can effectively analyse the datasets to help Sprocket Central Pty Ltd grow its business.

Primarily, Sprocket Central Pty Ltd needs help with its customer and transaction data. 

The organisation has a large dataset relating to its customers, but their team is unsure how to effectively analyse it to help optimise its marketing strategy. 

However, in order to support the analysis, you spoke to the Associate Director for some ideas and she advised that <b>“the importance of optimising the quality of customer datasets cannot be underestimated. The better the quality of the dataset, the better chance you will be able to use it to drive company growth.” </b>

The client provided KPMG with 3 datasets:
- Customer Demographic 
- Customer Addresses
- Transactions data in the past 3 months

You decide to start the preliminary data exploration and identify ways to improve the quality of Sprocket Central Pty Ltd’s data.

### What you'll do
<b>Draft an email to your client identifying data quality issues and strategies to mitigate the issues</b>

You will start working with clients. Who are mid-size companies selling bicycles and accessories. They’re looking to expand into a new market, and we will assist them by showcasing our data analytic skills to recommend a suitable marketing strategy. 
Over the course of the client project, There’ll be three main tasks involved. 
- data quality assessment. 
- Being a data model build
- Visualise these results of analysis which you could present to the client.

In [22]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
# make sure all column are display while we use head function 
pd.options.display.max_columns=None

# Excel Sheet have muliple sheets and Sheet names: Transactions , NewCustomerList, 
# CustomerDemographic, CustomerAddress

## Data Pepration Trasactions Dataset
## -------

In [23]:
# read data set Transactions
df_T =pd.read_excel(r'KPMG_VI_New_raw_data_update_final.xlsx', sheet_name='Transactions')
df_T.head(50)

,Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,2950,2017-02-25 00:00:00,False,Approved,Solex,Standard,medium,medium,71.49,53.62,41245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3,3120,2017-05-21 00:00:00,True,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,37,402,2017-10-16 00:00:00,False,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,88,3135,2017-08-31 00:00:00,False,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.1,36145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,78,787,2017-10-01 00:00:00,True,Approved,Giant Bicycles,Standard,medium,large,1765.3,709.48,42226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,25,2339,2017-03-08 00:00:00,True,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,39031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,22,1542,2017-04-21 00:00:00,True,Approved,WeareA2B,Standard,medium,medium,60.34,45.26,34165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,15,2459,2017-07-15 00:00:00,False,Approved,WeareA2B,Standard,medium,medium,1292.84,13.44,39915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,67,1305,2017-08-10 00:00:00,False,Approved,Solex,Standard,medium,large,1071.23,380.74,33455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,12,3262,2017-08-30 00:00:00,True,Approved,WeareA2B,Standard,medium,medium,1231.15,161.6,38216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,5,1986,2017-01-17 00:00:00,False,Approved,Trek Bicycles,Mountain,low,medium,574.64,459.71,40784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,61,2783,2017-01-05 00:00:00,True,Approved,OHM Cycles,Standard,low,medium,71.16,56.93,42172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,35,1243,2017-02-26 00:00:00,True,Approved,Trek Bicycles,Standard,low,medium,1057.51,154.4,34527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,16,2717,2017-09-10 00:00:00,False,Approved,Norco Bicycles,Standard,high,small,1661.92,1479.11,34586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,12,247,2017-06-11 00:00:00,False,Approved,Giant Bicycles,Standard,medium,large,1765.3,709.48,38193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,3,2961,2017-10-10 00:00:00,False,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,37873,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17,79,2426,2017-04-03 00:00:00,False,Approved,Norco Bicycles,Standard,medium,medium,1555.58,818.01,38206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,33,1842,2017-06-02 00:00:00,False,Approved,Giant Bicycles,Standard,medium,small,1311.44,1167.18,33888,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,54,2268,2017-04-06 00:00:00,True,Approved,WeareA2B,Standard,medium,medium,1292.84,13.44,39915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20,25,3002,2017-01-28 00:00:00,True,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,37337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,21,27,1582,2017-10-09 00:00:00,False,Approved,Trek Bicycles,Standard,medium,medium,499.53,388.72,36334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,22,37,595,2017-06-29 00:00:00,True,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,23,37,2001,2017-04-08 00:00:00,True,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,42145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,24,82,515,2017-10-18 00:00:00,False,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,42404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,25,89,2822,2017-06-11 00:00:00,False,Approved,WeareA2B,Touring,medium,large,1362.99,57.74,34079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,26,64,2596,2017-01-10 00:00:00,False,Approved,Trek Bicycles,Standard,medium,large,1469.44,596.55,42145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,27,64,2666,2017-04-11 00:00:00,True,Approved,Trek Bicycles,Standard,medium,large,1469.44,596.55,41047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,28,19,76,2017-12-23 00:00:00,False,Approved,Trek Bicycles,Mountain,low,medium,574.64,459.71,42560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,29,72,3368,2017-10-13 00:00:00,True,Approved,Norco Bicycles,Standard,medium,medium,360.4,270.3,42710,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,30,91,1173,2017-03-15 00:00:00,False,Approved,WeareA2B,Standard,low,medium,642.31,513.85,41922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,31,88,2810,2017-09-05 00:00:00,True,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.1,37539,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,32,1,3214,2017-02-18 00:00:00,False,Approved,Giant Bicycles,Standard,medium,medium,1403.5,954.82,42688,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,33,25,1272,2017-03-20 00:00:00,False,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,42404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,34,99,2003,2017-02-28 00:00:00,True,Approved,Trek Bicycles,Road,low,small,1720.7,1531.42,38991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,35,0,2171,2017-08-20 00:00:00,False,Approved,Norco Bicycles,Road,medium,medium,544.05,376.84,38647,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,36,92,3356,2017-07-07 00:00:00,False,Approved,WeareA2B,Standard,medium,small,1415.01,1259.36,37874,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,37,14,1040,2017-01-09 00:00:00,False,Approved,Solex,Standard,high,large,1842.92,1105.75,34996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,38,2,2916,2017-12-06 00:00:00,False,Approved,Solex,Standard,medium,medium,71.49,53.62,33549,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,39,12,427,2017-09-12 00:00:00,False,Approved,WeareA2B,Standard,medium,medium,1231.15,161.6,38693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,40,0,2448,2017-11-28 00:00:00,True,Approved,Norco Bicycles,Road,medium,medium,544.05,376.84,38647,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,41,44,2570,2017-05-08 00:00:00,True,Approved,WeareA2B,Standard,medium,medium,1769.64,108.76,37668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,42,79,3398,2017-05-14 00:00:00,False,Approved,Solex,Touring,medium,large,2083.94,675.03,41533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,43,76,488,2017-03-17 00:00:00,False,Cancelled,WeareA2B,Standard,low,medium,642.31,513.85,41922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,44,46,165,2017-12-22 00:00:00,False,Approved,Solex,Standard,low,medium,1289.85,74.51,37668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,45,55,2787,2017-06-07 00:00:00,True,Approved,Trek Bicycles,Road,medium,large,1894.19,598.76,42172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,46,66,3053,2017-06-20 00:00:00,False,Approved,Solex,Standard,medium,medium,1163.89,589.27,42560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,47,35,475,2017-05-07 00:00:00,True,Approved,Trek Bicycles,Standard,low,medium,1057.51,154.4,34527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,48,81,1305,2017-06-10 00:00:00,True,Approved,Solex,Standard,medium,medium,1151.96,649.49,41009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,49,86,1251,2017-06-17 00:00:00,False,Approved,OHM Cycles,Standard,medium,medium,235.63,125.07,38206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 1- Observation Transactions dataset:
- What's the difference between list_price standrd_cost?
- What's the meaning of product_first Sold date?
- There are 13 NaN colums in dataset -> My recomandation to drop this columns

In [24]:
#change header for transaction dataset
h1 =df_T.iloc[0]
df_T = df_T[1:]
df_T.columns= h1
df_T.head(20)

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,2950,2017-02-25 00:00:00,False,Approved,Solex,Standard,medium,medium,71.49,53.62,41245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3,3120,2017-05-21 00:00:00,True,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,37,402,2017-10-16 00:00:00,False,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,88,3135,2017-08-31 00:00:00,False,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.1,36145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,78,787,2017-10-01 00:00:00,True,Approved,Giant Bicycles,Standard,medium,large,1765.3,709.48,42226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,25,2339,2017-03-08 00:00:00,True,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,39031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,22,1542,2017-04-21 00:00:00,True,Approved,WeareA2B,Standard,medium,medium,60.34,45.26,34165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,15,2459,2017-07-15 00:00:00,False,Approved,WeareA2B,Standard,medium,medium,1292.84,13.44,39915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,67,1305,2017-08-10 00:00:00,False,Approved,Solex,Standard,medium,large,1071.23,380.74,33455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,12,3262,2017-08-30 00:00:00,True,Approved,WeareA2B,Standard,medium,medium,1231.15,161.6,38216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,5,1986,2017-01-17 00:00:00,False,Approved,Trek Bicycles,Mountain,low,medium,574.64,459.71,40784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,61,2783,2017-01-05 00:00:00,True,Approved,OHM Cycles,Standard,low,medium,71.16,56.93,42172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,35,1243,2017-02-26 00:00:00,True,Approved,Trek Bicycles,Standard,low,medium,1057.51,154.4,34527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,16,2717,2017-09-10 00:00:00,False,Approved,Norco Bicycles,Standard,high,small,1661.92,1479.11,34586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,12,247,2017-06-11 00:00:00,False,Approved,Giant Bicycles,Standard,medium,large,1765.3,709.48,38193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,3,2961,2017-10-10 00:00:00,False,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,37873,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17,79,2426,2017-04-03 00:00:00,False,Approved,Norco Bicycles,Standard,medium,medium,1555.58,818.01,38206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,33,1842,2017-06-02 00:00:00,False,Approved,Giant Bicycles,Standard,medium,small,1311.44,1167.18,33888,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,54,2268,2017-04-06 00:00:00,True,Approved,WeareA2B,Standard,medium,medium,1292.84,13.44,39915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20,25,3002,2017-01-28 00:00:00,True,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,37337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# information about the data type formate for table
df_T.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 1 to 20000
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  object
 1   product_id               20000 non-null  object
 2   customer_id              20000 non-null  object
 3   transaction_date         20000 non-null  object
 4   online_order             19640 non-null  object
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  object
 11  standard_cost            19803 non-null  object
 12  product_first_sold_date  19803 non-null  object
 13  nan                      0 non-null      float64
 14  nan                      0 non-null      float64
 15  nan                      0 non-null      float64
 16  nan                      0 non-null      float64
 17  nan                      0 non-null      float64
 18  nan                      0 non-null      float64
 19  nan                      0 non-null      float64
 20  nan                      0 non-null      float64
 21  nan                      0 non-null      float64
 22  nan                      0 non-null      float64
 23  nan                      0 non-null      float64
 24  nan                      0 non-null      float64
 25  nan                      0 non-null      float64
dtypes: float64(13), object(13)
memory usage: 4.0+ MB

### 2- Obsevation Transaction Table in data type
- we need to change dataype for transaction_id, product_id, customer_id to be int
- Make datatime here consistance formate first and change datatype transaction_date to be date
- online_order change data type to be bool 
- order_status, brand, product_line change, product_class, product_size will change data type to be category
- list_price, standard_cost will change them to be float  
- what's the data type for this column( product_first_sold_date)
- Delete Nan colums because will effect data analysis

In [26]:
# let's know how many rows 
len(df_T.index)

20000

# # Data Clean Transaction dataset
## ----------------------
- Handel missing Values
- Convert column values
- Changing datatypes
- Handel duplication
- Convert new columns by combing other columns
- Drop unnecessary columns

In [27]:
# we will know how many missing values in that data set
for i in df_T.columns :
    if df_T[i].isna().sum() != 0 : 
        print('Null Values in ', i, "Column :", df_T[i].isna().sum())

Null Values in  online_order Column : 360
Null Values in  brand Column : 197
Null Values in  product_line Column : 197
Null Values in  product_class Column : 197
Null Values in  product_size Column : 197
Null Values in  standard_cost Column : 197
Null Values in  product_first_sold_date Column : 197
Null Values in  nan Column : 20000
Null Values in  nan Column : 20000
Null Values in  nan Column : 20000
Null Values in  nan Column : 20000
Null Values in  nan Column : 20000
Null Values in  nan Column : 20000
Null Values in  nan Column : 20000
Null Values in  nan Column : 20000
Null Values in  nan Column : 20000
Null Values in  nan Column : 20000
Null Values in  nan Column : 20000
Null Values in  nan Column : 20000
Null Values in  nan Column : 20000

### 3- Obsevation Transaction Table in Missing data
- What's your prefrance to handel missing data in the following columns 
 - 1- online_order Column : 360
 - 2- brand Column : 197
 - 3- product_line Column : 197
 - 4- product_class Column : 197
 - 5- product_size Column : 197
 - 6- standard_cost Column : 197
 - 7- product_first_sold_date Column : 197

### 1-Handel missing data
### ----
We need to understand context of data to make dicision regarding how to handel Nan values data.

In [28]:
# Let's know how many rows
len(df_T.index)

20000

In [29]:
# 1- observation online_order column has 360 rows null
# Let's know more about online_order data
df_T['online_order'].unique()
# let's confirm df after drop 4 rows 
#len(df.index)

array([False, True, nan], dtype=object)

In [30]:
# group data and try to findout majority
df_T.groupby('online_order').size()

online_order
False    9811
True     9829
dtype: int64

#### I can't impute based on majority. My suggestion here to replace nan value with False.

In [31]:
# we will replace 360 null rows to False
df_T['online_order'].fillna(False,inplace = True)
# let's confirm df_T update
df_T['online_order'].unique()

array([False,  True])

#### ----

In [32]:
# 2- observation brand column has 197 rows null
# let's know more about data
df_T['brand'].unique()

array(['Solex', 'Trek Bicycles', 'OHM Cycles', 'Norco Bicycles',
       'Giant Bicycles', 'WeareA2B', nan], dtype=object)

### We can't predict the missing value so, I will drop it. Because it's not significant

In [33]:
df_T =df_T.dropna(subset = ['brand'])
df_T['brand'].unique()

array(['Solex', 'Trek Bicycles', 'OHM Cycles', 'Norco Bicycles',
       'Giant Bicycles', 'WeareA2B'], dtype=object)

### ----

In [34]:
# 3- observation product_line column has 197 rows null
# Let's know more about data
df_T['product_line'].unique()

array(['Standard', 'Road', 'Mountain', 'Touring'], dtype=object)

### I didn't find sign for nan data in brand column so I will run check null data again to make sure data set is clean

In [35]:
# we will know how many missing values in that data set
for i in df_T.columns :
    if df_T[i].isna().sum() != 0 : 
        print('Null Values in ', i, "Column :", df_T[i].isna().sum())

Null Values in  nan Column : 19803
Null Values in  nan Column : 19803
Null Values in  nan Column : 19803
Null Values in  nan Column : 19803
Null Values in  nan Column : 19803
Null Values in  nan Column : 19803
Null Values in  nan Column : 19803
Null Values in  nan Column : 19803
Null Values in  nan Column : 19803
Null Values in  nan Column : 19803
Null Values in  nan Column : 19803
Null Values in  nan Column : 19803
Null Values in  nan Column : 19803

In [39]:
# will drop the all colums with nan values 
df_T1= df_T.dropna(how="any", axis=1)

#Check dataset 
df_T1.head(50)

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
1,1,2,2950,2017-02-25 00:00:00,False,Approved,Solex,Standard,medium,medium,71.49,53.62,41245
2,2,3,3120,2017-05-21 00:00:00,True,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701
3,3,37,402,2017-10-16 00:00:00,False,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361
4,4,88,3135,2017-08-31 00:00:00,False,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.1,36145
5,5,78,787,2017-10-01 00:00:00,True,Approved,Giant Bicycles,Standard,medium,large,1765.3,709.48,42226
6,6,25,2339,2017-03-08 00:00:00,True,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,39031
7,7,22,1542,2017-04-21 00:00:00,True,Approved,WeareA2B,Standard,medium,medium,60.34,45.26,34165
8,8,15,2459,2017-07-15 00:00:00,False,Approved,WeareA2B,Standard,medium,medium,1292.84,13.44,39915
9,9,67,1305,2017-08-10 00:00:00,False,Approved,Solex,Standard,medium,large,1071.23,380.74,33455
10,10,12,3262,2017-08-30 00:00:00,True,Approved,WeareA2B,Standard,medium,medium,1231.15,161.6,38216
11,11,5,1986,2017-01-17 00:00:00,False,Approved,Trek Bicycles,Mountain,low,medium,574.64,459.71,40784
12,12,61,2783,2017-01-05 00:00:00,True,Approved,OHM Cycles,Standard,low,medium,71.16,56.93,42172
13,13,35,1243,2017-02-26 00:00:00,True,Approved,Trek Bicycles,Standard,low,medium,1057.51,154.4,34527
14,14,16,2717,2017-09-10 00:00:00,False,Approved,Norco Bicycles,Standard,high,small,1661.92,1479.11,34586
15,15,12,247,2017-06-11 00:00:00,False,Approved,Giant Bicycles,Standard,medium,large,1765.3,709.48,38193
16,16,3,2961,2017-10-10 00:00:00,False,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,37873
17,17,79,2426,2017-04-03 00:00:00,False,Approved,Norco Bicycles,Standard,medium,medium,1555.58,818.01,38206
18,18,33,1842,2017-06-02 00:00:00,False,Approved,Giant Bicycles,Standard,medium,small,1311.44,1167.18,33888
19,19,54,2268,2017-04-06 00:00:00,True,Approved,WeareA2B,Standard,medium,medium,1292.84,13.44,39915
20,20,25,3002,2017-01-28 00:00:00,True,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,37337
21,21,27,1582,2017-10-09 00:00:00,False,Approved,Trek Bicycles,Standard,medium,medium,499.53,388.72,36334
22,22,37,595,2017-06-29 00:00:00,True,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361
23,23,37,2001,2017-04-08 00:00:00,True,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,42145
24,24,82,515,2017-10-18 00:00:00,False,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,42404
25,25,89,2822,2017-06-11 00:00:00,False,Approved,WeareA2B,Touring,medium,large,1362.99,57.74,34079
26,26,64,2596,2017-01-10 00:00:00,False,Approved,Trek Bicycles,Standard,medium,large,1469.44,596.55,42145
27,27,64,2666,2017-04-11 00:00:00,True,Approved,Trek Bicycles,Standard,medium,large,1469.44,596.55,41047
28,28,19,76,2017-12-23 00:00:00,False,Approved,Trek Bicycles,Mountain,low,medium,574.64,459.71,42560
29,29,72,3368,2017-10-13 00:00:00,True,Approved,Norco Bicycles,Standard,medium,medium,360.4,270.3,42710
30,30,91,1173,2017-03-15 00:00:00,False,Approved,WeareA2B,Standard,low,medium,642.31,513.85,41922
31,31,88,2810,2017-09-05 00:00:00,True,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.1,37539
32,32,1,3214,2017-02-18 00:00:00,False,Approved,Giant Bicycles,Standard,medium,medium,1403.5,954.82,42688
33,33,25,1272,2017-03-20 00:00:00,False,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,42404
34,34,99,2003,2017-02-28 00:00:00,True,Approved,Trek Bicycles,Road,low,small,1720.7,1531.42,38991
35,35,0,2171,2017-08-20 00:00:00,False,Approved,Norco Bicycles,Road,medium,medium,544.05,376.84,38647
36,36,92,3356,2017-07-07 00:00:00,False,Approved,WeareA2B,Standard,medium,small,1415.01,1259.36,37874
37,37,14,1040,2017-01-09 00:00:00,False,Approved,Solex,Standard,high,large,1842.92,1105.75,34996
38,38,2,2916,2017-12-06 00:00:00,False,Approved,Solex,Standard,medium,medium,71.49,53.62,33549
39,39,12,427,2017-09-12 00:00:00,False,Approved,WeareA2B,Standard,medium,medium,1231.15,161.6,38693
40,40,0,2448,2017-11-28 00:00:00,True,Approved,Norco Bicycles,Road,medium,medium,544.05,376.84,38647
41,41,44,2570,2017-05-08 00:00:00,True,Approved,WeareA2B,Standard,medium,medium,1769.64,108.76,37668
42,42,79,3398,2017-05-14 00:00:00,False,Approved,Solex,Touring,medium,large,2083.94,675.03,41533
43,43,76,488,2017-03-17 00:00:00,False,Cancelled,WeareA2B,Standard,low,medium,642.31,513.85,41922
44,44,46,165,2017-12-22 00:00:00,False,Approved,Solex,Standard,low,medium,1289.85,74.51,37668
45,45,55,2787,2017-06-07 00:00:00,True,Approved,Trek Bicycles,Road,medium,large,1894.19,598.76,42172
46,46,66,3053,2017-06-20 00:00:00,False,Approved,Solex,Standard,medium,medium,1163.89,589.27,42560
47,47,35,475,2017-05-07 00:00:00,True,Approved,Trek Bicycles,Standard,low,medium,1057.51,154.4,34527
48,48,81,1305,2017-06-10 00:00:00,True,Approved,Solex,Standard,medium,medium,1151.96,649.49,41009
49,49,86,1251,2017-06-17 00:00:00,False,Approved,OHM Cycles,Standard,medium,medium,235.63,125.07,38206
50,50,32,3103,2017-05-10 00:00:00,False,Approved,Giant Bicycles,Standard,medium,medium,642.7,211.37,37337

In [40]:
df_T1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19803 entries, 1 to 20000
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           19803 non-null  object
 1   product_id               19803 non-null  object
 2   customer_id              19803 non-null  object
 3   transaction_date         19803 non-null  object
 4   online_order             19803 non-null  bool
 5   order_status             19803 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               19803 non-null  object
 11  standard_cost            19803 non-null  object
 12  product_first_sold_date  19803 non-null  object
dtypes: bool(1), object(12)
memory usage: 2.0+ MB

### Let's discover each column to make sure data inside it consistance.

In [41]:
df_T1['order_status'].unique()

array(['Approved', 'Cancelled'], dtype=object)

In [42]:
df_T1['product_line'].unique()

array(['Standard', 'Road', 'Mountain', 'Touring'], dtype=object)

In [43]:
df_T1['product_class'].unique()

array(['medium', 'low', 'high'], dtype=object)

In [44]:
df_T1['product_size'].unique()

array(['medium', 'large', 'small'], dtype=object)

### ------

### Handel Duplication
### ---

In [45]:
df_T1.duplicated().sum()

0

### No duplication

### Change data type 
### ---
- Change dataype for transaction_id, product_id, customer_id to be int
- Make datatime here consistance formate first and change datatype transaction_date to be date
- order_status, brand, product_line , product_class, product_size will change data type to be category
- list_price, standard_cost will change them to be float
- online_order to be bool

In [46]:
df_T1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19803 entries, 1 to 20000
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           19803 non-null  object
 1   product_id               19803 non-null  object
 2   customer_id              19803 non-null  object
 3   transaction_date         19803 non-null  object
 4   online_order             19803 non-null  bool
 5   order_status             19803 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               19803 non-null  object
 11  standard_cost            19803 non-null  object
 12  product_first_sold_date  19803 non-null  object
dtypes: bool(1), object(12)
memory usage: 2.0+ MB

In [53]:
#change dataype for transaction_id, product_id, customer_id, product_first_sold_date to be int
df_T1['transaction_id'] = df_T1['transaction_id'].astype(int)
df_T1['product_id'] = df_T1['product_id'].astype(int)
df_T1['customer_id'] = df_T1['customer_id'].astype(int)
df_T1['product_first_sold_date'] = df_T1['product_first_sold_date'].astype(int)

# Make datatime here consistance formate first and change datatype transaction_date to be date
df_T1['transaction_date']= pd.to_datetime(df_T1['transaction_date'].astype(str),format='%Y/%m/%d')

# order_status, brand, product_line change, product_class, product_size will change data type to be category
df_T1['order_status'] = df_T1['order_status'].astype('category')
df_T1['brand'] = df_T1['brand'].astype('category')
df_T1['product_line'] = df_T1['product_line'].astype('category')
df_T1['product_class'] = df_T1['product_class'].astype('category')
df_T1['product_size'] = df_T1['product_size'].astype('category')

# list_price, standard_cost will change them to be float 
df_T1['list_price'] = df_T1['list_price'].astype('float')
df_T1['standard_cost'] = df_T1['standard_cost'].astype('float')

# check our change 
df_T1.info()

<ipython-input-53-44550dd408be>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_T1['transaction_id'] = df_T1['transaction_id'].astype(int)
<ipython-input-53-44550dd408be>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_T1['product_id'] = df_T1['product_id'].astype(int)
<ipython-input-53-44550dd408be>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_T1['customer_id'] = df_T1['customer_id'].astype(int)
<ipython-input-53-44550dd408be>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_T1['product_first_sold_date'] = df_T1['product_first_sold_date'].astype(int)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19803 entries, 1 to 20000
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           19803 non-null  int64
 1   product_id               19803 non-null  int64
 2   customer_id              19803 non-null  int64
 3   transaction_date         19803 non-null  datetime64[ns]
 4   online_order             19803 non-null  bool
 5   order_status             19803 non-null  category
 6   brand                    19803 non-null  category
 7   product_line             19803 non-null  category
 8   product_class            19803 non-null  category
 9   product_size             19803 non-null  category
 10  list_price               19803 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  int64
dtypes: bool(1), category(5), datetime64[ns](1), float64(2), int64(4)
memory usage: 1.3 MB

<ipython-input-53-44550dd408be>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_T1['transaction_date']= pd.to_datetime(df_T1['transaction_date'].astype(str),format='%Y/%m/%d')
<ipython-input-53-44550dd408be>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_T1['order_status'] = df_T1['order_status'].astype('category')
<ipython-input-53-44550dd408be>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_T1['brand'] = df_T1['brand'].astype('category')
<ipython-input-53-44550dd408be>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_T1['product_line'] = df_T1['product_line'].astype('category')
<ipython-input-53-44550dd408be>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_T1['product_class'] = df_T1['product_class'].astype('category')
<ipython-input-53-44550dd408be>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_T1['product_size'] = df_T1['product_size'].astype('category')
<ipython-input-53-44550dd408be>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_T1['list_price'] = df_T1['list_price'].astype('float')
<ipython-input-53-44550dd408be>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_T1['standard_cost'] = df_T1['standard_cost'].astype('float')

In [54]:
df_T1.head(50)

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
1,1,2,2950,2017-02-25,False,Approved,Solex,Standard,medium,medium,71.49,53.62,41245
2,2,3,3120,2017-05-21,True,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701
3,3,37,402,2017-10-16,False,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361
4,4,88,3135,2017-08-31,False,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145
5,5,78,787,2017-10-01,True,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226
6,6,25,2339,2017-03-08,True,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,39031
7,7,22,1542,2017-04-21,True,Approved,WeareA2B,Standard,medium,medium,60.34,45.26,34165
8,8,15,2459,2017-07-15,False,Approved,WeareA2B,Standard,medium,medium,1292.84,13.44,39915
9,9,67,1305,2017-08-10,False,Approved,Solex,Standard,medium,large,1071.23,380.74,33455
10,10,12,3262,2017-08-30,True,Approved,WeareA2B,Standard,medium,medium,1231.15,161.60,38216
11,11,5,1986,2017-01-17,False,Approved,Trek Bicycles,Mountain,low,medium,574.64,459.71,40784
12,12,61,2783,2017-01-05,True,Approved,OHM Cycles,Standard,low,medium,71.16,56.93,42172
13,13,35,1243,2017-02-26,True,Approved,Trek Bicycles,Standard,low,medium,1057.51,154.40,34527
14,14,16,2717,2017-09-10,False,Approved,Norco Bicycles,Standard,high,small,1661.92,1479.11,34586
15,15,12,247,2017-06-11,False,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,38193
16,16,3,2961,2017-10-10,False,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,37873
17,17,79,2426,2017-04-03,False,Approved,Norco Bicycles,Standard,medium,medium,1555.58,818.01,38206
18,18,33,1842,2017-06-02,False,Approved,Giant Bicycles,Standard,medium,small,1311.44,1167.18,33888
19,19,54,2268,2017-04-06,True,Approved,WeareA2B,Standard,medium,medium,1292.84,13.44,39915
20,20,25,3002,2017-01-28,True,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,37337
21,21,27,1582,2017-10-09,False,Approved,Trek Bicycles,Standard,medium,medium,499.53,388.72,36334
22,22,37,595,2017-06-29,True,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361
23,23,37,2001,2017-04-08,True,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,42145
24,24,82,515,2017-10-18,False,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,42404
25,25,89,2822,2017-06-11,False,Approved,WeareA2B,Touring,medium,large,1362.99,57.74,34079
26,26,64,2596,2017-01-10,False,Approved,Trek Bicycles,Standard,medium,large,1469.44,596.55,42145
27,27,64,2666,2017-04-11,True,Approved,Trek Bicycles,Standard,medium,large,1469.44,596.55,41047
28,28,19,76,2017-12-23,False,Approved,Trek Bicycles,Mountain,low,medium,574.64,459.71,42560
29,29,72,3368,2017-10-13,True,Approved,Norco Bicycles,Standard,medium,medium,360.40,270.30,42710
30,30,91,1173,2017-03-15,False,Approved,WeareA2B,Standard,low,medium,642.31,513.85,41922
31,31,88,2810,2017-09-05,True,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,37539
32,32,1,3214,2017-02-18,False,Approved,Giant Bicycles,Standard,medium,medium,1403.50,954.82,42688
33,33,25,1272,2017-03-20,False,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,42404
34,34,99,2003,2017-02-28,True,Approved,Trek Bicycles,Road,low,small,1720.70,1531.42,38991
35,35,0,2171,2017-08-20,False,Approved,Norco Bicycles,Road,medium,medium,544.05,376.84,38647
36,36,92,3356,2017-07-07,False,Approved,WeareA2B,Standard,medium,small,1415.01,1259.36,37874
37,37,14,1040,2017-01-09,False,Approved,Solex,Standard,high,large,1842.92,1105.75,34996
38,38,2,2916,2017-12-06,False,Approved,Solex,Standard,medium,medium,71.49,53.62,33549
39,39,12,427,2017-09-12,False,Approved,WeareA2B,Standard,medium,medium,1231.15,161.60,38693
40,40,0,2448,2017-11-28,True,Approved,Norco Bicycles,Road,medium,medium,544.05,376.84,38647
41,41,44,2570,2017-05-08,True,Approved,WeareA2B,Standard,medium,medium,1769.64,108.76,37668
42,42,79,3398,2017-05-14,False,Approved,Solex,Touring,medium,large,2083.94,675.03,41533
43,43,76,488,2017-03-17,False,Cancelled,WeareA2B,Standard,low,medium,642.31,513.85,41922
44,44,46,165,2017-12-22,False,Approved,Solex,Standard,low,medium,1289.85,74.51,37668
45,45,55,2787,2017-06-07,True,Approved,Trek Bicycles,Road,medium,large,1894.19,598.76,42172
46,46,66,3053,2017-06-20,False,Approved,Solex,Standard,medium,medium,1163.89,589.27,42560
47,47,35,475,2017-05-07,True,Approved,Trek Bicycles,Standard,low,medium,1057.51,154.40,34527
48,48,81,1305,2017-06-10,True,Approved,Solex,Standard,medium,medium,1151.96,649.49,41009
49,49,86,1251,2017-06-17,False,Approved,OHM Cycles,Standard,medium,medium,235.63,125.07,38206
50,50,32,3103,2017-05-10,False,Approved,Giant Bicycles,Standard,medium,medium,642.70,211.37,37337

In [147]:
df_T1.tail(20)

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
19981,19981,95,3304,2017-06-07,False,Approved,Giant Bicycles,Standard,medium,large,569.56,528.43,37874
19982,19982,28,1075,2017-07-20,True,Approved,Solex,Road,medium,small,1703.52,1516.13,40649
19983,19983,11,1137,2017-03-11,True,Approved,Giant Bicycles,Standard,high,medium,1274.93,764.96,39298
19984,19984,80,275,2017-07-02,False,Approved,Trek Bicycles,Standard,medium,large,1469.44,596.55,41047
19985,19985,31,873,2017-11-15,True,Approved,Giant Bicycles,Standard,medium,medium,230.91,173.18,34527
19986,19986,36,2918,2017-11-09,True,Approved,Solex,Standard,low,medium,945.04,507.58,39526
19987,19987,38,2385,2017-11-01,False,Approved,Solex,Standard,medium,medium,1577.53,826.51,40618
19988,19988,0,13,2017-04-05,True,Approved,Norco Bicycles,Road,medium,medium,544.05,376.84,42105
19989,19989,0,714,2017-04-27,True,Approved,Norco Bicycles,Standard,low,medium,363.01,290.41,37626
19990,19990,55,135,2017-01-27,True,Cancelled,Trek Bicycles,Road,medium,large,1894.19,598.76,37823
19991,19991,78,425,2017-01-26,False,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42218
19992,19992,11,1374,2017-09-14,False,Approved,Giant Bicycles,Standard,high,medium,1274.93,764.96,39298
19993,19993,13,5,2017-04-28,False,Approved,Solex,Standard,medium,medium,1163.89,589.27,39880
19994,19994,77,2618,2017-12-23,False,Approved,Norco Bicycles,Road,medium,large,1240.31,795.10,40553
19995,19995,9,718,2017-05-13,True,Approved,OHM Cycles,Road,medium,medium,742.54,667.40,38216
19996,19996,51,1018,2017-06-24,True,Approved,OHM Cycles,Standard,high,medium,2005.66,1203.40,37823
19997,19997,41,127,2017-11-09,True,Approved,Solex,Road,medium,medium,416.98,312.74,35560
19998,19998,87,2284,2017-04-14,True,Approved,OHM Cycles,Standard,medium,medium,1636.90,44.71,40410
19999,19999,6,2764,2017-07-03,False,Approved,OHM Cycles,Standard,high,medium,227.88,136.73,38216
20000,20000,11,1144,2017-09-22,True,Approved,Trek Bicycles,Standard,medium,small,1775.81,1580.47,36334

### Transaction Table now clean and ready for the next stage
- Just I need to understand some data meaing as  (product_first_sold_date)

## ----------------------------------------------------------------

## Data Pepration NewCustomerList
## ---

In [67]:
#read data set NewCustomerList
df_NCL = pd.read_excel(r'KPMG_VI_New_raw_data_update_final.xlsx', sheet_name='NewCustomerList')
df_NCL.head(50)

,Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,NaN,NaN,NaN,NaN,NaN,Rank,Value
1,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,14,45 Shopko Center,4500,QLD,Australia,6,0.56,0.7000,0.875000,0.743750,1.0,1,1.71875
2,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,16,14 Mccormick Park,2113,NSW,Australia,11,0.89,0.8900,1.112500,0.945625,1.0,1,1.71875
3,Ardelis,Forrester,Female,10,1974-08-28 00:00:00,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,10,5 Colorado Crossing,3505,VIC,Australia,5,1.01,1.0100,1.010000,1.010000,1.0,1,1.71875
4,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,5,207 Annamark Plaza,4814,QLD,Australia,1,0.87,1.0875,1.087500,1.087500,4.0,4,1.703125
5,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,19,115 Montana Place,2093,NSW,Australia,9,0.52,0.5200,0.650000,0.650000,4.0,4,1.703125
6,Druci,Brandli,Female,39,1951-04-29,Assistant Media Planner,Entertainment,High Net Worth,N,Yes,22,89105 Pearson Terrace,4075,QLD,Australia,7,0.43,0.5375,0.537500,0.537500,6.0,6,1.671875
7,Rutledge,Hallt,Male,23,1976-10-06,Compensation Analyst,Financial Services,Mass Customer,N,No,8,7 Nevada Crossing,2620,NSW,Australia,7,0.40,0.4000,0.400000,0.340000,6.0,6,1.671875
8,Nancie,Vian,Female,74,1972-12-27,Human Resources Assistant II,Retail,Mass Customer,N,Yes,10,85 Carioca Point,4814,QLD,Australia,5,0.58,0.7250,0.725000,0.616250,8.0,8,1.65625
9,Duff,Karlowicz,Male,50,1972-04-28,Speech Pathologist,Manufacturing,Mass Customer,N,Yes,5,717 West Drive,2200,NSW,Australia,10,1.03,1.2875,1.609375,1.367969,8.0,8,1.65625
10,Barthel,Docket,Male,72,1985-08-02,Accounting Assistant IV,IT,Mass Customer,N,Yes,17,80 Scofield Junction,4151,QLD,Australia,5,0.84,1.0500,1.050000,0.892500,10.0,10,1.640625
11,Rockwell,Matson,Male,94,1995-01-01,Programmer Analyst I,Retail,High Net Worth,N,No,3,3682 Crowley Point,4573,QLD,Australia,6,0.58,0.5800,0.725000,0.725000,10.0,10,1.640625
12,Wheeler,Winward,Male,48,1999-08-30,Environmental Specialist,Manufacturing,Mass Customer,N,No,10,3 Golden Leaf Point,3216,VIC,Australia,8,0.55,0.5500,0.550000,0.467500,12.0,12,1.625
13,Olag,NaN,Male,60,1990-05-13,Human Resources Manager,Telecommunications,Mass Customer,N,No,9,0484 North Avenue,2032,NSW,Australia,11,0.43,0.4300,0.537500,0.456875,13.0,13,1.609375
14,Melba,Spellacy,Female,38,1976-12-09,VP Marketing,Health,Mass Customer,N,No,4,0591 Anzinger Circle,2232,NSW,Australia,10,0.84,0.8400,1.050000,0.892500,14.0,14,1.59375
15,Mandie,Feares,Female,32,1964-04-19,Clinical Specialist,Health,Mass Customer,N,No,10,39 Kedzie Pass,4053,QLD,Australia,8,0.80,0.8000,0.800000,0.680000,14.0,14,1.59375
16,Dukie,Swire,Male,88,1954-03-31,NaN,Manufacturing,Affluent Customer,N,Yes,5,64 Granby Parkway,2500,NSW,Australia,8,0.58,0.7250,0.906250,0.906250,16.0,16,1.5625
17,Marcelia,Monkleigh,Female,61,1993-08-22,Associate Professor,Manufacturing,Mass Customer,N,Yes,4,610 Swallow Street,4051,QLD,Australia,6,0.86,1.0750,1.075000,0.913750,17.0,17,1.546875
18,Winnifred,Beswetherick,Female,83,1976-06-08 00:00:00,Actuary,Financial Services,Mass Customer,N,No,14,61 4th Street,3040,VIC,Australia,10,0.90,0.9000,1.125000,0.956250,17.0,17,1.546875
19,Odilia,Quick,Female,65,1938-11-09,General Manager,Manufacturing,Affluent Customer,N,Yes,11,1550 Russell Way,2222,NSW,Australia,11,0.53,0.6625,0.828125,0.828125,19.0,19,1.53125
20,Karly,Willavize,Female,2,1954-08-12,Internal Auditor,Manufacturing,High Net Worth,N,No,12,193 North Point,2190,NSW,Australia,10,0.46,0.4600,0.575000,0.575000,19.0,19,1.53125
21,Teddie,Burchill,Male,11,1968-12-21,Programmer I,Manufacturing,Mass Customer,N,Yes,13,321 Raven Plaza,2161,NSW,Australia,9,0.85,1.0625,1.328125,1.128906,21.0,21,1.515625
22,Gaston,Dallaghan,Male,44,1993-09-29,Financial Analyst,Financial Services,Mass Customer,N,Yes,8,656 Fuller Street,2783,NSW,Australia,7,0.77,0.9625,0.962500,0.818125,21.0,21,1.515625
23,Otis,Ottey,Male,26,1998-02-05,Quality Engineer,NaN,Mass Customer,N,No,3,1562 Merchant Street,4744,QLD,Australia,4,1.02,1.0200,1.020000,0.867000,23.0,23,1.5
24,Tabbatha,Averill,Female,5,1977-12-17 00:00:00,Quality Control Specialist,NaN,Affluent Customer,N,Yes,13,663 8th Parkway,2257,NSW,Australia,8,0.72,0.9000,0.900000,0.900000,23.0,23,1.5
25,Brena,Schnitter,Female,78,1982-10-11,Account Executive,Manufacturing,Mass Customer,N,No,4,67 Shelley Street,4703,QLD,Australia,5,0.61,0.6100,0.610000,0.518500,25.0,25,1.484375
26,Rourke,Gillbard,Male,11,1945-08-03,NaN,Property,Mass Customer,N,No,17,75 Cordelia Trail,4817,QLD,Australia,4,0.59,0.5900,0.590000,0.501500,26.0,26,1.46875
27,Dyane,Burwell,Female,19,1952-06-27,Engineer II,Retail,Mass Customer,N,Yes,7,51 Hooker Court,2640,NSW,Australia,2,0.89,1.1125,1.112500,0.945625,26.0,26,1.46875
28,Claudine,Barstowk,Female,71,1966-07-20,Nurse,Property,High Net Worth,N,Yes,5,1859 Forest Circle,4000,QLD,Australia,11,0.67,0.8375,1.046875,1.046875,26.0,26,1.46875
29,Blinnie,Roze,Female,84,1960-12-10,Librarian,Entertainment,High Net Worth,N,No,11,44557 Rutledge Court,4171,QLD,Australia,7,1.08,1.0800,1.350000,1.350000,26.0,26,1.46875
30,Rhona,De Freyne,Female,45,1960-11-22,NaN,Health,High Net Worth,N,No,8,11184 East Drive,3056,VIC,Australia,10,0.73,0.7300,0.912500,0.912500,30.0,30,1.460938
31,Sharron,Claibourn,Female,62,1980-01-26,NaN,Financial Services,High Net Worth,N,Yes,17,555 Hermina Avenue,2280,NSW,Australia,8,0.71,0.8875,0.887500,0.887500,30.0,30,1.460938
32,Brien,Heaton,Male,70,1951-11-28,Clinical Specialist,Health,Mass Customer,N,Yes,12,8 Novick Trail,2470,NSW,Australia,2,1.01,1.2625,1.262500,1.073125,32.0,32,1.453125
33,Sybilla,MacCart,Female,88,1987-01-15,Paralegal,Financial Services,Mass Customer,N,Yes,7,74 Welch Pass,2620,NSW,Australia,7,0.41,0.5125,0.640625,0.544531,32.0,32,1.453125
34,Mikel,McNess,Male,71,1981-09-22,Nurse,NaN,Mass Customer,N,No,9,3 Pleasure Drive,4122,QLD,Australia,9,0.70,0.7000,0.875000,0.743750,32.0,32,1.453125
35,Maisie,Maddox,Female,27,1977-05-09 00:00:00,Assistant Manager,Financial Services,Affluent Customer,N,No,20,8 Dennis Point,3226,VIC,Australia,9,0.66,0.6600,0.825000,0.825000,32.0,32,1.453125
36,Arleen,Casbolt,Female,48,1975-05-10,Senior Quality Engineer,Financial Services,Affluent Customer,N,Yes,13,41042 Lotheville Crossing,4817,QLD,Australia,1,0.77,0.9625,0.962500,0.962500,36.0,36,1.447656
37,Farlie,Petford,Male,76,1968-03-25,Recruiting Manager,NaN,High Net Worth,N,No,13,2330 Butternut Trail,2017,NSW,Australia,10,0.86,0.8600,1.075000,1.075000,36.0,36,1.447656
38,Mitchell,MacCague,Male,58,1979-04-11,NaN,Manufacturing,Mass Customer,N,No,15,240 Acker Avenue,3190,VIC,Australia,8,0.62,0.6200,0.620000,0.527000,38.0,38,1.4375
39,Garik,Whitwell,Male,44,1955-06-13,NaN,Property,Mass Customer,N,Yes,13,04 Dexter Way,3280,VIC,Australia,2,0.88,1.1000,1.100000,0.935000,38.0,38,1.4375
40,Antonin,Britt,Male,64,1993-08-28,NaN,Manufacturing,Affluent Customer,N,Yes,8,011 Northland Trail,2160,NSW,Australia,9,0.43,0.5375,0.671875,0.671875,40.0,40,1.434375
41,Vinny,Incogna,Female,73,1953-02-13,NaN,Health,High Net Worth,N,No,10,8 Grayhawk Circle,2756,NSW,Australia,8,0.62,0.6200,0.620000,0.620000,40.0,40,1.434375
42,Colene,Fishleigh,Female,24,1985-03-14,Design Engineer,Financial Services,Mass Customer,N,No,3,44 Darwin Lane,3149,VIC,Australia,10,0.54,0.5400,0.675000,0.573750,42.0,42,1.421875
43,Neile,Argent,Female,79,1946-10-25,NaN,Retail,Mass Customer,N,No,8,2548 Arrowood Pass,2024,NSW,Australia,10,0.83,0.8300,1.037500,0.881875,42.0,42,1.421875
44,Corinna,Suggey,Female,52,1966-09-18,Design Engineer,NaN,Affluent Customer,N,No,9,938 Ilene Road,2761,NSW,Australia,8,0.89,0.8900,0.890000,0.890000,44.0,44,1.421094
45,Brooke,Arling,Male,76,1961-12-05,NaN,NaN,High Net Worth,N,No,6,6 Melby Center,3027,VIC,Australia,5,0.97,0.9700,0.970000,0.970000,44.0,44,1.421094
46,Gipsy,Ewestace,Female,29,1956-08-30,Business Systems Development Analyst,Retail,High Net Worth,N,Yes,5,08708 Moulton Park,2034,NSW,Australia,12,0.53,0.6625,0.828125,0.828125,46.0,46,1.407812
47,Sheena,Kybbye,Female,14,1956-07-16,Paralegal,Financial Services,Affluent Customer,N,Yes,19,306 Clemons Junction,4852,QLD,Australia,1,0.91,1.1375,1.137500,1.137500,46.0,46,1.407812
48,Jobina,Gobourn,Female,85,1994-12-04,VP Quality Control,NaN,High Net Worth,N,Yes,14,18 Grim Road,4305,QLD,Australia,4,0.48,0.6000,0.750000,0.750000,46.0,46,1.407812
49,Gale,Disbrow,Female,59,1977-05-14,Cost Accountant,Financial Services,Mass Customer,N,Yes,17,169 Bashford Drive,3741,VIC,Australia,7,1.07,1.3375,1.337500,1.136875,46.0,46,1.407812

### Observation NewCustomerList dataset:
- DOB not have consistance formate one row with (date) and other row with Date & time
- What's the mean with past_3_years_bike_related_purchases?
- There are missing data in last_name column
- job_title have missing data (Nan) and extra number
- Job_industery_category have missing data 
- What's the deceased_indicator?
- There are 5 colums with no title (NaN) and have decimal values

In [68]:
# remove first row and adjust header
h1= df_NCL.iloc[0]
df_NCL = df_NCL[1:]
df_NCL.columns = h1
df_NCL.head(50)

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,NaN,NaN,NaN,NaN,NaN,Rank,Value
1,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,14,45 Shopko Center,4500,QLD,Australia,6,0.56,0.7000,0.875000,0.743750,1.0,1,1.71875
2,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,16,14 Mccormick Park,2113,NSW,Australia,11,0.89,0.8900,1.112500,0.945625,1.0,1,1.71875
3,Ardelis,Forrester,Female,10,1974-08-28 00:00:00,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,10,5 Colorado Crossing,3505,VIC,Australia,5,1.01,1.0100,1.010000,1.010000,1.0,1,1.71875
4,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,5,207 Annamark Plaza,4814,QLD,Australia,1,0.87,1.0875,1.087500,1.087500,4.0,4,1.703125
5,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,19,115 Montana Place,2093,NSW,Australia,9,0.52,0.5200,0.650000,0.650000,4.0,4,1.703125
6,Druci,Brandli,Female,39,1951-04-29,Assistant Media Planner,Entertainment,High Net Worth,N,Yes,22,89105 Pearson Terrace,4075,QLD,Australia,7,0.43,0.5375,0.537500,0.537500,6.0,6,1.671875
7,Rutledge,Hallt,Male,23,1976-10-06,Compensation Analyst,Financial Services,Mass Customer,N,No,8,7 Nevada Crossing,2620,NSW,Australia,7,0.40,0.4000,0.400000,0.340000,6.0,6,1.671875
8,Nancie,Vian,Female,74,1972-12-27,Human Resources Assistant II,Retail,Mass Customer,N,Yes,10,85 Carioca Point,4814,QLD,Australia,5,0.58,0.7250,0.725000,0.616250,8.0,8,1.65625
9,Duff,Karlowicz,Male,50,1972-04-28,Speech Pathologist,Manufacturing,Mass Customer,N,Yes,5,717 West Drive,2200,NSW,Australia,10,1.03,1.2875,1.609375,1.367969,8.0,8,1.65625
10,Barthel,Docket,Male,72,1985-08-02,Accounting Assistant IV,IT,Mass Customer,N,Yes,17,80 Scofield Junction,4151,QLD,Australia,5,0.84,1.0500,1.050000,0.892500,10.0,10,1.640625
11,Rockwell,Matson,Male,94,1995-01-01,Programmer Analyst I,Retail,High Net Worth,N,No,3,3682 Crowley Point,4573,QLD,Australia,6,0.58,0.5800,0.725000,0.725000,10.0,10,1.640625
12,Wheeler,Winward,Male,48,1999-08-30,Environmental Specialist,Manufacturing,Mass Customer,N,No,10,3 Golden Leaf Point,3216,VIC,Australia,8,0.55,0.5500,0.550000,0.467500,12.0,12,1.625
13,Olag,NaN,Male,60,1990-05-13,Human Resources Manager,Telecommunications,Mass Customer,N,No,9,0484 North Avenue,2032,NSW,Australia,11,0.43,0.4300,0.537500,0.456875,13.0,13,1.609375
14,Melba,Spellacy,Female,38,1976-12-09,VP Marketing,Health,Mass Customer,N,No,4,0591 Anzinger Circle,2232,NSW,Australia,10,0.84,0.8400,1.050000,0.892500,14.0,14,1.59375
15,Mandie,Feares,Female,32,1964-04-19,Clinical Specialist,Health,Mass Customer,N,No,10,39 Kedzie Pass,4053,QLD,Australia,8,0.80,0.8000,0.800000,0.680000,14.0,14,1.59375
16,Dukie,Swire,Male,88,1954-03-31,NaN,Manufacturing,Affluent Customer,N,Yes,5,64 Granby Parkway,2500,NSW,Australia,8,0.58,0.7250,0.906250,0.906250,16.0,16,1.5625
17,Marcelia,Monkleigh,Female,61,1993-08-22,Associate Professor,Manufacturing,Mass Customer,N,Yes,4,610 Swallow Street,4051,QLD,Australia,6,0.86,1.0750,1.075000,0.913750,17.0,17,1.546875
18,Winnifred,Beswetherick,Female,83,1976-06-08 00:00:00,Actuary,Financial Services,Mass Customer,N,No,14,61 4th Street,3040,VIC,Australia,10,0.90,0.9000,1.125000,0.956250,17.0,17,1.546875
19,Odilia,Quick,Female,65,1938-11-09,General Manager,Manufacturing,Affluent Customer,N,Yes,11,1550 Russell Way,2222,NSW,Australia,11,0.53,0.6625,0.828125,0.828125,19.0,19,1.53125
20,Karly,Willavize,Female,2,1954-08-12,Internal Auditor,Manufacturing,High Net Worth,N,No,12,193 North Point,2190,NSW,Australia,10,0.46,0.4600,0.575000,0.575000,19.0,19,1.53125
21,Teddie,Burchill,Male,11,1968-12-21,Programmer I,Manufacturing,Mass Customer,N,Yes,13,321 Raven Plaza,2161,NSW,Australia,9,0.85,1.0625,1.328125,1.128906,21.0,21,1.515625
22,Gaston,Dallaghan,Male,44,1993-09-29,Financial Analyst,Financial Services,Mass Customer,N,Yes,8,656 Fuller Street,2783,NSW,Australia,7,0.77,0.9625,0.962500,0.818125,21.0,21,1.515625
23,Otis,Ottey,Male,26,1998-02-05,Quality Engineer,NaN,Mass Customer,N,No,3,1562 Merchant Street,4744,QLD,Australia,4,1.02,1.0200,1.020000,0.867000,23.0,23,1.5
24,Tabbatha,Averill,Female,5,1977-12-17 00:00:00,Quality Control Specialist,NaN,Affluent Customer,N,Yes,13,663 8th Parkway,2257,NSW,Australia,8,0.72,0.9000,0.900000,0.900000,23.0,23,1.5
25,Brena,Schnitter,Female,78,1982-10-11,Account Executive,Manufacturing,Mass Customer,N,No,4,67 Shelley Street,4703,QLD,Australia,5,0.61,0.6100,0.610000,0.518500,25.0,25,1.484375
26,Rourke,Gillbard,Male,11,1945-08-03,NaN,Property,Mass Customer,N,No,17,75 Cordelia Trail,4817,QLD,Australia,4,0.59,0.5900,0.590000,0.501500,26.0,26,1.46875
27,Dyane,Burwell,Female,19,1952-06-27,Engineer II,Retail,Mass Customer,N,Yes,7,51 Hooker Court,2640,NSW,Australia,2,0.89,1.1125,1.112500,0.945625,26.0,26,1.46875
28,Claudine,Barstowk,Female,71,1966-07-20,Nurse,Property,High Net Worth,N,Yes,5,1859 Forest Circle,4000,QLD,Australia,11,0.67,0.8375,1.046875,1.046875,26.0,26,1.46875
29,Blinnie,Roze,Female,84,1960-12-10,Librarian,Entertainment,High Net Worth,N,No,11,44557 Rutledge Court,4171,QLD,Australia,7,1.08,1.0800,1.350000,1.350000,26.0,26,1.46875
30,Rhona,De Freyne,Female,45,1960-11-22,NaN,Health,High Net Worth,N,No,8,11184 East Drive,3056,VIC,Australia,10,0.73,0.7300,0.912500,0.912500,30.0,30,1.460938
31,Sharron,Claibourn,Female,62,1980-01-26,NaN,Financial Services,High Net Worth,N,Yes,17,555 Hermina Avenue,2280,NSW,Australia,8,0.71,0.8875,0.887500,0.887500,30.0,30,1.460938
32,Brien,Heaton,Male,70,1951-11-28,Clinical Specialist,Health,Mass Customer,N,Yes,12,8 Novick Trail,2470,NSW,Australia,2,1.01,1.2625,1.262500,1.073125,32.0,32,1.453125
33,Sybilla,MacCart,Female,88,1987-01-15,Paralegal,Financial Services,Mass Customer,N,Yes,7,74 Welch Pass,2620,NSW,Australia,7,0.41,0.5125,0.640625,0.544531,32.0,32,1.453125
34,Mikel,McNess,Male,71,1981-09-22,Nurse,NaN,Mass Customer,N,No,9,3 Pleasure Drive,4122,QLD,Australia,9,0.70,0.7000,0.875000,0.743750,32.0,32,1.453125
35,Maisie,Maddox,Female,27,1977-05-09 00:00:00,Assistant Manager,Financial Services,Affluent Customer,N,No,20,8 Dennis Point,3226,VIC,Australia,9,0.66,0.6600,0.825000,0.825000,32.0,32,1.453125
36,Arleen,Casbolt,Female,48,1975-05-10,Senior Quality Engineer,Financial Services,Affluent Customer,N,Yes,13,41042 Lotheville Crossing,4817,QLD,Australia,1,0.77,0.9625,0.962500,0.962500,36.0,36,1.447656
37,Farlie,Petford,Male,76,1968-03-25,Recruiting Manager,NaN,High Net Worth,N,No,13,2330 Butternut Trail,2017,NSW,Australia,10,0.86,0.8600,1.075000,1.075000,36.0,36,1.447656
38,Mitchell,MacCague,Male,58,1979-04-11,NaN,Manufacturing,Mass Customer,N,No,15,240 Acker Avenue,3190,VIC,Australia,8,0.62,0.6200,0.620000,0.527000,38.0,38,1.4375
39,Garik,Whitwell,Male,44,1955-06-13,NaN,Property,Mass Customer,N,Yes,13,04 Dexter Way,3280,VIC,Australia,2,0.88,1.1000,1.100000,0.935000,38.0,38,1.4375
40,Antonin,Britt,Male,64,1993-08-28,NaN,Manufacturing,Affluent Customer,N,Yes,8,011 Northland Trail,2160,NSW,Australia,9,0.43,0.5375,0.671875,0.671875,40.0,40,1.434375
41,Vinny,Incogna,Female,73,1953-02-13,NaN,Health,High Net Worth,N,No,10,8 Grayhawk Circle,2756,NSW,Australia,8,0.62,0.6200,0.620000,0.620000,40.0,40,1.434375
42,Colene,Fishleigh,Female,24,1985-03-14,Design Engineer,Financial Services,Mass Customer,N,No,3,44 Darwin Lane,3149,VIC,Australia,10,0.54,0.5400,0.675000,0.573750,42.0,42,1.421875
43,Neile,Argent,Female,79,1946-10-25,NaN,Retail,Mass Customer,N,No,8,2548 Arrowood Pass,2024,NSW,Australia,10,0.83,0.8300,1.037500,0.881875,42.0,42,1.421875
44,Corinna,Suggey,Female,52,1966-09-18,Design Engineer,NaN,Affluent Customer,N,No,9,938 Ilene Road,2761,NSW,Australia,8,0.89,0.8900,0.890000,0.890000,44.0,44,1.421094
45,Brooke,Arling,Male,76,1961-12-05,NaN,NaN,High Net Worth,N,No,6,6 Melby Center,3027,VIC,Australia,5,0.97,0.9700,0.970000,0.970000,44.0,44,1.421094
46,Gipsy,Ewestace,Female,29,1956-08-30,Business Systems Development Analyst,Retail,High Net Worth,N,Yes,5,08708 Moulton Park,2034,NSW,Australia,12,0.53,0.6625,0.828125,0.828125,46.0,46,1.407812
47,Sheena,Kybbye,Female,14,1956-07-16,Paralegal,Financial Services,Affluent Customer,N,Yes,19,306 Clemons Junction,4852,QLD,Australia,1,0.91,1.1375,1.137500,1.137500,46.0,46,1.407812
48,Jobina,Gobourn,Female,85,1994-12-04,VP Quality Control,NaN,High Net Worth,N,Yes,14,18 Grim Road,4305,QLD,Australia,4,0.48,0.6000,0.750000,0.750000,46.0,46,1.407812
49,Gale,Disbrow,Female,59,1977-05-14,Cost Accountant,Financial Services,Mass Customer,N,Yes,17,169 Bashford Drive,3741,VIC,Australia,7,1.07,1.3375,1.337500,1.136875,46.0,46,1.407812
50,Thaxter,Kingsbury,Male,12,1950-05-03,Product Engineer,Argiculture,Mass Customer,N,No,20,3 Vermont Lane,2067,NSW,Australia,12,0.86,0.8600,1.075000,0.913750,50.0,50,1.40625

In [69]:
df_NCL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 1 to 1000
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           1000 non-null   object
 1   last_name                            971 non-null    object
 2   gender                               1000 non-null   object
 3   past_3_years_bike_related_purchases  1000 non-null   object
 4   DOB                                  983 non-null    object
 5   job_title                            894 non-null    object
 6   job_industry_category                835 non-null    object
 7   wealth_segment                       1000 non-null   object
 8   deceased_indicator                   1000 non-null   object
 9   owns_car                             1000 non-null   object
 10  tenure                               1000 non-null   object
 11  address                              1000 non-null   object
 12  postcode                             1000 non-null   object
 13  state                                1000 non-null   object
 14  country                              1000 non-null   object
 15  property_valuation                   1000 non-null   object
 16  nan                                  1000 non-null   float64
 17  nan                                  1000 non-null   float64
 18  nan                                  1000 non-null   float64
 19  nan                                  1000 non-null   float64
 20  nan                                  1000 non-null   float64
 21  Rank                                 1000 non-null   object
 22  Value                                1000 non-null   object
dtypes: float64(5), object(18)
memory usage: 179.8+ KB

## Obsevation NewClientList Table
- Change data type for gender, job_title,job_industry_category, wealth_segment, state to be category
- Change data type for past_3_years_bike_related_purchases, tenure,postcode, property_valuation  to be int
- Adjust DOB formate for data and change data type to be datetime
- Adjust data type for owns_car to be bool
- I need to name of columns name which called nan. Becaue, it's have value and may be will be useful for our analysis.

In [70]:
# let's know how many rows 
len(df_NCL.index)

1000

In [71]:
# we will know how many missing values in that data set
for i in df_NCL.columns :
    if df_NCL[i].isna().sum() != 0 : 
        print('Null Values in ', i, "Column :", df_NCL[i].isna().sum())

Null Values in  last_name Column : 29
Null Values in  DOB Column : 17
Null Values in  job_title Column : 106
Null Values in  job_industry_category Column : 165

In [72]:
# last_name Column : 29 missing. It's essential for our analysis. So, I will fill data with 'Unknown' simple approach
df_NCL['last_name'] = df_NCL['last_name'].fillna('Unknown')



#job_title Column : 106 missing & job_industry_category Column : 165. 
# Simple approach, I will fill data with 'Unknown' simple approach.
# If this columns, is essential for our analysis. So, we can use NLP techniques to extract job title from other text columns or try to impute them based on pattern within dataset
df_NCL['job_title'] = df_NCL['job_title'].fillna('Unknown')
df_NCL['job_industry_category'] = df_NCL['job_industry_category'].fillna('Unknown')

# check there is no missing data 
for i in df_NCL.columns :
    if df_NCL[i].isna().sum() != 0 : 
        print('Null Values in ', i, "Column :", df_NCL[i].isna().sum())

Null Values in  DOB Column : 17

In [77]:
# DOB Column : 17 missing. I choose to drop 17 missing, especially if the missing values is relatively small
df_NCL =df_NCL.dropna(subset = ['DOB'])

# check there is no missing data 
for i in df_NCL.columns :
    if df_NCL[i].isna().sum() != 0 : 
        print('Null Values in ', i, "Column :", df_NCL[i].isna().sum())

In [80]:
# will drop the all colums with nan values 
df_NCL= df_NCL.dropna(how="any", axis=1)

#Check dataset 
df_NCL.head(10)

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,NaN,NaN,NaN,NaN,NaN,Rank,Value
1,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,14,45 Shopko Center,4500,QLD,Australia,6,0.56,0.7000,0.875000,0.743750,1.0,1,1.71875
2,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,16,14 Mccormick Park,2113,NSW,Australia,11,0.89,0.8900,1.112500,0.945625,1.0,1,1.71875
3,Ardelis,Forrester,Female,10,1974-08-28 00:00:00,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,10,5 Colorado Crossing,3505,VIC,Australia,5,1.01,1.0100,1.010000,1.010000,1.0,1,1.71875
4,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,5,207 Annamark Plaza,4814,QLD,Australia,1,0.87,1.0875,1.087500,1.087500,4.0,4,1.703125
5,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,19,115 Montana Place,2093,NSW,Australia,9,0.52,0.5200,0.650000,0.650000,4.0,4,1.703125
6,Druci,Brandli,Female,39,1951-04-29,Assistant Media Planner,Entertainment,High Net Worth,N,Yes,22,89105 Pearson Terrace,4075,QLD,Australia,7,0.43,0.5375,0.537500,0.537500,6.0,6,1.671875
7,Rutledge,Hallt,Male,23,1976-10-06,Compensation Analyst,Financial Services,Mass Customer,N,No,8,7 Nevada Crossing,2620,NSW,Australia,7,0.40,0.4000,0.400000,0.340000,6.0,6,1.671875
8,Nancie,Vian,Female,74,1972-12-27,Human Resources Assistant II,Retail,Mass Customer,N,Yes,10,85 Carioca Point,4814,QLD,Australia,5,0.58,0.7250,0.725000,0.616250,8.0,8,1.65625
9,Duff,Karlowicz,Male,50,1972-04-28,Speech Pathologist,Manufacturing,Mass Customer,N,Yes,5,717 West Drive,2200,NSW,Australia,10,1.03,1.2875,1.609375,1.367969,8.0,8,1.65625
10,Barthel,Docket,Male,72,1985-08-02,Accounting Assistant IV,IT,Mass Customer,N,Yes,17,80 Scofield Junction,4151,QLD,Australia,5,0.84,1.0500,1.050000,0.892500,10.0,10,1.640625

### Handel duplication
### ------

In [78]:
df_NCL.duplicated().sum()

0

#### No duplication

### Change data type 
### ---
- Change data type for gender, job_title,job_industry_category, wealth_segment, state to be category
- Change data type for past_3_years_bike_related_purchases, tenure,postcode, property_valuation  to be int
- Adjust DOB formate for data and change data type to be datetime
- Adjust data type for owns_car to be bool

In [79]:
df_NCL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 983 entries, 1 to 1000
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           983 non-null    object
 1   last_name                            983 non-null    object
 2   gender                               983 non-null    object
 3   past_3_years_bike_related_purchases  983 non-null    object
 4   DOB                                  983 non-null    object
 5   job_title                            983 non-null    object
 6   job_industry_category                983 non-null    object
 7   wealth_segment                       983 non-null    object
 8   deceased_indicator                   983 non-null    object
 9   owns_car                             983 non-null    object
 10  tenure                               983 non-null    object
 11  address                              983 non-null    object
 12  postcode                             983 non-null    object
 13  state                                983 non-null    object
 14  country                              983 non-null    object
 15  property_valuation                   983 non-null    object
 16  nan                                  983 non-null    float64
 17  nan                                  983 non-null    float64
 18  nan                                  983 non-null    float64
 19  nan                                  983 non-null    float64
 20  nan                                  983 non-null    float64
 21  Rank                                 983 non-null    object
 22  Value                                983 non-null    object
dtypes: float64(5), object(18)
memory usage: 184.3+ KB

In [82]:

# Change data type for gender, job_title,job_industry_category, wealth_segment, state to be category
df_NCL['gender'] = df_NCL['gender'].astype('category')
df_NCL['job_title'] = df_NCL['job_title'].astype('category')
df_NCL['job_industry_category'] = df_NCL['job_industry_category'].astype('category')
df_NCL['wealth_segment'] = df_NCL['wealth_segment'].astype('category')
df_NCL['state'] = df_NCL['state'].astype('category')

#Change data type for past_3_years_bike_related_purchases, tenure,postcode, property_valuation  to be int
df_NCL['past_3_years_bike_related_purchases'] = df_NCL['past_3_years_bike_related_purchases'].astype(int)
df_NCL['tenure'] = df_NCL['tenure'].astype(int)
df_NCL['postcode'] = df_NCL['postcode'].astype(int)
df_NCL['property_valuation'] = df_NCL['property_valuation'].astype(int)

#Adjust DOB formate for data and change data type to be datetime
df_NCL['DOB']= pd.to_datetime(df_NCL['DOB'].astype(str),format='%Y/%m/%d')

#Adjust data type for owns_car to be bool
df_NCL['owns_car'] = df_NCL['owns_car'].astype('bool')

# check our change 
df_NCL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 983 entries, 1 to 1000
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           983 non-null    object
 1   last_name                            983 non-null    object
 2   gender                               983 non-null    category
 3   past_3_years_bike_related_purchases  983 non-null    int64
 4   DOB                                  983 non-null    datetime64[ns]
 5   job_title                            983 non-null    category
 6   job_industry_category                983 non-null    category
 7   wealth_segment                       983 non-null    category
 8   deceased_indicator                   983 non-null    object
 9   owns_car                             983 non-null    bool
 10  tenure                               983 non-null    int64
 11  address                              983 non-null    object
 12  postcode                             983 non-null    int64
 13  state                                983 non-null    category
 14  country                              983 non-null    object
 15  property_valuation                   983 non-null    int64
 16  nan                                  983 non-null    float64
 17  nan                                  983 non-null    float64
 18  nan                                  983 non-null    float64
 19  nan                                  983 non-null    float64
 20  nan                                  983 non-null    float64
 21  Rank                                 983 non-null    object
 22  Value                                983 non-null    object
dtypes: bool(1), category(5), datetime64[ns](1), float64(5), int64(4), object(7)
memory usage: 151.2+ KB

### Make sure quality of data for each column
### -----

In [83]:
df_NCL['gender'].unique()

['Male', 'Female']
Categories (2, object): ['Male', 'Female']

In [85]:
df_NCL['job_title'].unique().tolist()

['General Manager',
 'Structural Engineer',
 'Senior Cost Accountant',
 'Account Representative III',
 'Financial Analyst',
 'Assistant Media Planner',
 'Compensation Analyst',
 'Human Resources Assistant II',
 'Speech Pathologist',
 'Accounting Assistant IV',
 'Programmer Analyst I',
 'Environmental Specialist',
 'Human Resources Manager',
 'VP Marketing',
 'Clinical Specialist',
 'Unknown',
 'Associate Professor',
 'Actuary',
 'Internal Auditor',
 'Programmer I',
 'Quality Engineer',
 'Quality Control Specialist',
 'Account Executive',
 'Engineer II',
 'Nurse',
 'Librarian',
 'Paralegal',
 'Assistant Manager',
 'Senior Quality Engineer',
 'Recruiting Manager',
 'Design Engineer',
 'Business Systems Development Analyst',
 'VP Quality Control',
 'Cost Accountant',
 'Product Engineer',
 'Social Worker',
 'Payment Adjustment Coordinator',
 'Marketing Assistant',
 'Recruiter',
 'VP Product Management',
 'Media Manager III',
 'Developer I',
 'Senior Financial Analyst',
 'Electrical Engineer',
 'Accountant IV',
 'Executive Secretary',
 'Account Representative I',
 'Dental Hygienist',
 'GIS Technical Architect',
 'Assistant Professor',
 'Mechanical Systems Engineer',
 'Budget/Accounting Analyst IV',
 'Research Nurse',
 'Computer Systems Analyst IV',
 'Analyst Programmer',
 'Desktop Support Technician',
 'Editor',
 'Biostatistician IV',
 'Database Administrator III',
 'Engineer III',
 'Physical Therapy Assistant',
 'Director of Sales',
 'Teacher',
 'Human Resources Assistant IV',
 'Nurse Practicioner',
 'Structural Analysis Engineer',
 'Marketing Manager',
 'Staff Accountant IV',
 'VP Sales',
 'Accountant III',
 'Sales Representative',
 'Food Chemist',
 'Staff Scientist',
 'Geologist IV',
 'Information Systems Manager',
 'Junior Executive',
 'Automation Specialist II',
 'Software Consultant',
 'Civil Engineer',
 'Geological Engineer',
 'Graphic Designer',
 'Staff Accountant II',
 'Community Outreach Specialist',
 'Programmer Analyst II',
 'Pharmacist',
 'Senior Editor',
 'Sales Associate',
 'Developer II',
 'Staff Accountant I',
 'Environmental Tech',
 'Account Coordinator',
 'Health Coach II',
 'Programmer Analyst III',
 'Geologist III',
 'Senior Developer',
 'Account Representative II',
 'Help Desk Technician',
 'Research Assistant IV',
 'Research Associate',
 'Computer Systems Analyst I',
 'Account Representative IV',
 'Safety Technician I',
 'Analog Circuit Design manager',
 'Senior Sales Associate',
 'Research Assistant II',
 'Chief Design Engineer',
 'Legal Assistant',
 'Occupational Therapist',
 'Statistician I',
 'Technical Writer',
 'Health Coach IV',
 'Media Manager II',
 'Professor',
 'Safety Technician II',
 'Software Test Engineer IV',
 'Nuclear Power Engineer',
 'Software Engineer II',
 'Engineer IV',
 'Database Administrator II',
 'Chemical Engineer',
 'Office Assistant II',
 'Database Administrator I',
 'Research Assistant I',
 'Financial Advisor',
 'Systems Administrator I',
 'Systems Administrator IV',
 'Operator',
 'Office Assistant I',
 'Software Engineer I',
 'Programmer III',
 'Media Manager I',
 'Data Coordiator',
 'Web Developer IV',
 'Registered Nurse',
 'Media Manager IV',
 'Computer Systems Analyst II',
 'Web Designer I',
 'Human Resources Assistant I',
 'Help Desk Operator',
 'Systems Administrator III',
 'Software Engineer III',
 'Developer IV',
 'Automation Specialist IV',
 'VP Accounting',
 'Accountant II',
 'Administrative Assistant II',
 'Programmer IV',
 'Web Designer IV',
 'Administrative Officer',
 'Programmer II',
 'Office Assistant IV',
 'Accounting Assistant III',
 'Accounting Assistant I',
 'Research Assistant III',
 'Web Developer II',
 'Statistician III',
 'Programmer Analyst IV',
 'Tax Accountant',
 'Accountant I',
 'Budget/Accounting Analyst II',
 'Automation Specialist III',
 'Administrative Assistant I',
 'Engineer I',
 'Health Coach III',
 'Statistician II',
 'Developer III',
 'Accounting Assistant II',
 'Project Manager',
 'Database Administrator IV',
 'Budget/Accounting Analyst III',
 'Software Test Engineer I',
 'Health Coach I',
 'Safety Technician IV',
 'Computer Systems Analyst III',
 'Budget/Accounting Analyst I',
 'Staff Accountant III',
 'Human Resources Assistant III',
 'Statistician IV',
 'Automation Specialist I',
 'Systems Administrator II',
 'Software Test Engineer II',
 'Software Test Engineer III',
 'Geologist I',
 'Web Designer II',
 'Web Developer I']

In [90]:
# My observation regard this column, there are redundancy. We need to reomve I,II,III, IV, V, p  

# Replace pattern of string using regular expression.
df_NCL['job_title'] = df_NCL['job_title'].str.replace('I', '', regex=True)
df_NCL['job_title'] = df_NCL['job_title'].str.replace('II', '', regex=True)
df_NCL['job_title'] = df_NCL['job_title'].str.replace('III', '', regex=True)
df_NCL['job_title'] = df_NCL['job_title'].str.replace('IV', '', regex=True)
df_NCL['job_title'] = df_NCL['job_title'].str.replace('V', '', regex=True)
df_NCL['job_title'] = df_NCL['job_title'].str.replace('P ', '', regex=True)
df_NCL['job_title'].unique().tolist()

['General Manager',
 'Structural Engineer',
 'Senior Cost Accountant',
 'Account Representative ',
 'Financial Analyst',
 'Assistant Media Planner',
 'Compensation Analyst',
 'Human Resources Assistant ',
 'Speech Pathologist',
 'Accounting Assistant ',
 'Programmer Analyst ',
 'Environmental Specialist',
 'Human Resources Manager',
 'Marketing',
 'Clinical Specialist',
 'Unknown',
 'Associate Professor',
 'Actuary',
 'nternal Auditor',
 'Programmer ',
 'Quality Engineer',
 'Quality Control Specialist',
 'Account Executive',
 'Engineer ',
 'Nurse',
 'Librarian',
 'Paralegal',
 'Assistant Manager',
 'Senior Quality Engineer',
 'Recruiting Manager',
 'Design Engineer',
 'Business Systems Development Analyst',
 'Quality Control',
 'Cost Accountant',
 'Product Engineer',
 'Social Worker',
 'Payment Adjustment Coordinator',
 'Marketing Assistant',
 'Recruiter',
 'Product Management',
 'Media Manager ',
 'Developer ',
 'Senior Financial Analyst',
 'Electrical Engineer',
 'Accountant ',
 'Executive Secretary',
 'Dental Hygienist',
 'GS Technical Architect',
 'Assistant Professor',
 'Mechanical Systems Engineer',
 'Budget/Accounting Analyst ',
 'Research Nurse',
 'Computer Systems Analyst ',
 'Analyst Programmer',
 'Desktop Support Technician',
 'Editor',
 'Biostatistician ',
 'Database Administrator ',
 'Physical Therapy Assistant',
 'Director of Sales',
 'Teacher',
 'Nurse Practicioner',
 'Structural Analysis Engineer',
 'Marketing Manager',
 'Staff Accountant ',
 'Sales',
 'Sales Representative',
 'Food Chemist',
 'Staff Scientist',
 'Geologist ',
 'nformation Systems Manager',
 'Junior Executive',
 'Automation Specialist ',
 'Software Consultant',
 'Civil Engineer',
 'Geological Engineer',
 'Graphic Designer',
 'Community Outreach Specialist',
 'Pharmacist',
 'Senior Editor',
 'Sales Associate',
 'Environmental Tech',
 'Account Coordinator',
 'Health Coach ',
 'Senior Developer',
 'Help Desk Technician',
 'Research Assistant ',
 'Research Associate',
 'Safety Technician ',
 'Analog Circuit Design manager',
 'Senior Sales Associate',
 'Chief Design Engineer',
 'Legal Assistant',
 'Occupational Therapist',
 'Statistician ',
 'Technical Writer',
 'Professor',
 'Software Test Engineer ',
 'Nuclear Power Engineer',
 'Software Engineer ',
 'Chemical Engineer',
 'Office Assistant ',
 'Financial Advisor',
 'Systems Administrator ',
 'Operator',
 'Data Coordiator',
 'Web Developer ',
 'Registered Nurse',
 'Web Designer ',
 'Help Desk Operator',
 'Accounting',
 'Administrative Assistant ',
 'Administrative Officer',
 'Tax Accountant',
 'Project Manager']

In [92]:
df_NCL['job_industry_category'].unique().tolist()

['Manufacturing',
 'Property',
 'Financial Services',
 'Entertainment',
 'Retail',
 'IT',
 'Telecommunications',
 'Health',
 'Unknown',
 'Argiculture']

In [93]:
df_NCL['wealth_segment'].unique()

['Mass Customer', 'Affluent Customer', 'High Net Worth']
Categories (3, object): ['Mass Customer', 'Affluent Customer', 'High Net Worth']

In [94]:
df_NCL['owns_car'].unique()

array([ True])

In [95]:
df_NCL['address'].unique()

array(['45 Shopko Center', '14 Mccormick Park', '5 Colorado Crossing',
       '207 Annamark Plaza', '115 Montana Place', '89105 Pearson Terrace',
       '7 Nevada Crossing', '85 Carioca Point', '717 West Drive',
       '80 Scofield Junction', '3682 Crowley Point',
       '3 Golden Leaf Point', '0484 North Avenue', '0591 Anzinger Circle',
       '39 Kedzie Pass', '64 Granby Parkway', '610 Swallow Street',
       '61 4th Street', '1550 Russell Way', '193 North Point',
       '321 Raven Plaza', '656 Fuller Street', '1562 Merchant Street',
       '663 8th Parkway', '67 Shelley Street', '75 Cordelia Trail',
       '51 Hooker Court', '1859 Forest Circle', '44557 Rutledge Court',
       '11184 East Drive', '555 Hermina Avenue', '8 Novick Trail',
       '74 Welch Pass', '3 Pleasure Drive', '8 Dennis Point',
       '41042 Lotheville Crossing', '2330 Butternut Trail',
       '240 Acker Avenue', '04 Dexter Way', '011 Northland Trail',
       '8 Grayhawk Circle', '44 Darwin Lane', '2548 Arrowood Pass',
       '938 Ilene Road', '6 Melby Center', '08708 Moulton Park',
       '306 Clemons Junction', '18 Grim Road', '169 Bashford Drive',
       '3 Vermont Lane', '998 Gale Park', '64 Mcguire Trail',
       '74127 Blaine Point', '31756 Meadow Valley Lane',
       '293 Mayfield Street', '261 Grayhawk Way', '2 Schlimgen Terrace',
       '76733 Sunbrook Terrace', '683 Florence Way',
       '06936 Bobwhite Circle', '283 Acker Drive', '9 Mosinee Parkway',
       '45 Becker Place', '27 Karstens Crossing',
       '9630 Cottonwood Avenue', '989 Graedel Terrace',
       '76 Bartelt Center', '29778 Mendota Drive', '69 Algoma Center',
       '8288 Lyons Way', '4185 Florence Trail', '9608 Heffernan Drive',
       '9 Union Center', '800 Emmet Park', '12351 Spenser Pass',
       '4 Valley Edge Plaza', '1601 Rutledge Lane', '0 Mockingbird Plaza',
       '1665 Kenwood Center', '5 4th Center', '92214 Spenser Road',
       '5186 Main Trail', '564 Forest Dale Avenue', '83 Old Gate Point',
       '387 Dixon Alley', '411 Twin Pines Way', '12 Arapahoe Park',
       '4915 Debra Center', '76 Sunnyside Avenue', '1 Talisman Avenue',
       '91164 Washington Terrace', '74 Carpenter Street',
       '6776 Anderson Center', '1 Orin Hill', '88 Annamark Avenue',
       '37439 High Crossing Circle', '5 Nevada Point',
       '67 Grayhawk Circle', '0 Meadow Ridge Street', '5 Quincy Street',
       '13025 Johnson Plaza', '966 Sunnyside Center', '802 Mallory Park',
       '93 Judy Drive', '94 Manitowish Court', '5013 Erie Crossing',
       '540 Sachs Road', '422 Forster Circle', '4275 Bluestem Pass',
       '6 Anderson Junction', '276 Westend Road', '69 Garrison Point',
       '65 Milwaukee Hill', '4252 Dovetail Pass', '56 Riverside Street',
       '7 Cascade Park', '29307 Russell Avenue', '3 Mcguire Crossing',
       '6 Golf View Alley', '83716 Russell Lane', '265 Stephen Trail',
       '2 Charing Cross Trail', '8350 Moulton Terrace',
       '578 Waywood Circle', '9722 Northport Way', '7026 Katie Lane',
       '8 Eggendart Pass', '1 Bluejay Place', '28970 Monument Lane',
       '235 Mendota Court', '49309 Redwing Lane', '367 Bay Point',
       '932 Glendale Avenue', '492 Waywood Lane', '12683 Mifflin Point',
       '6160 Weeping Birch Hill', '7 Oakridge Lane', '0 Dexter Parkway',
       '75813 Lawn Lane', '74613 Northport Park', '68 Karstens Pass',
       '87254 Hermina Pass', '801 Atwood Alley', '2 Morrow Alley',
       '92934 Mallory Trail', '90820 Thackeray Street',
       '48 Ludington Plaza', '49185 Derek Circle',
       '0721 Meadow Ridge Pass', '115 Westridge Road', '7 Myrtle Lane',
       '7795 Memorial Drive', '24695 Boyd Road', '95306 John Wall Avenue',
       '6704 Pine View Lane', '98158 Alpine Point', '33652 Lyons Alley',
       '8 Debs Road', '101 Starling Pass', '35151 Bunker Hill Crossing',
       '2093 Amoth Pass', '57343 Eagan Avenue', '83 Armistice Terrace',
       '5388 Burrows Alley', '5612 Toban Point', '65 Ridge Oak Court',
       '74 Russell Terrace', '255 Loeprich Lane', '67 Northport Avenue',
       '823 Wayridge Trail', '5 Golf Terrace', '40809 Truax Way',
       '1398 Burning Wood Way', '3920 Swallow Junction', '4 Warner Park',
       '534 Lien Lane', '48 Shoshone Park', '170 Briar Crest Place',
       '0193 Northland Street', '5219 Pearson Drive',
       '6156 Summit Center', '803 Badeau Point', '735 Westridge Road',
       '1190 Hanson Street', '370 Division Junction', '90 Northport Hill',
       '77785 Veith Lane', '232 Knutson Park', '25805 Eagan Place',
       '743 Debra Court', '6966 Delladonna Street',
       '98221 Pennsylvania Place', '307 Knutson Center',
       '593 Alpine Drive', '45788 Stang Plaza', '96515 Di Loreto Pass',
       '8625 Dakota Plaza', '02 Hoffman Road', '496 Logan Center',
       '6065 Talisman Crossing', '72 Eliot Place', '67 Bluejay Plaza',
       '518 Paget Hill', '87107 Shelley Crossing', '3 Mallory Circle',
       '1582 Bashford Drive', '3 Homewood Park', '06 Old Gate Park',
       '49 Surrey Point', '59254 Northland Alley', '4 North Drive',
       '89 Parkside Street', '7 Hazelcrest Place', '013 David Junction',
       '840 Graceland Street', '6 Lotheville Trail', '890 Truax Lane',
       '72922 Cambridge Terrace', '60461 Esch Avenue', '6 Novick Alley',
       '76 Donald Trail', '1607 Westridge Drive', '3630 Dawn Crossing',
       '29007 Dapin Street', '68 Fairfield Street', '5 Briar Crest Road',
       '945 Bobwhite Court', '2 Glendale Center',
       '21824 Northridge Alley', '68 Anthes Park', '3 Anthes Court',
       '036 Redwing Street', '92 Petterle Place', '72008 7th Avenue',
       '87 Sheridan Junction', '811 Melrose Park', '2 Logan Avenue',
       '538 Gina Way', '52761 Portage Crossing', '8 Fieldstone Street',
       '8957 Anhalt Alley', '5 High Crossing Junction',
       '75760 Toban Junction', '178 Waxwing Trail', '8648 Green Alley',
       '08912 Carberry Place', '720 Menomonie Crossing',
       '0686 Hallows Trail', '6668 Blue Bill Park Plaza',
       '06 Dwight Park', '5202 Crowley Place', '14709 Portage Avenue',
       '895 Glendale Park', '0474 Bowman Hill', '652 Fuller Terrace',
       '5356 Sugar Plaza', '7 Schiller Point', '9193 Prairieview Drive',
       '13272 Basil Avenue', '29 Aberg Crossing', '4 Monterey Road',
       '416 Lighthouse Bay Lane', '05475 Elgar Place',
       '343 Lakewood Center', '47 Kim Terrace', '590 Hagan Parkway',
       '94694 Eagle Crest Terrace', '261 Orin Center',
       '667 Waxwing Plaza', '83509 Delaware Street', '88 Mifflin Pass',
       '10 Dexter Park', '3 Sundown Hill', '655 Glendale Trail',
       '39192 Glendale Alley', '7307 Lake View Crossing',
       '1199 Express Plaza', '1 Namekagon Point', '602 Meadow Vale Lane',
       '6784 Spohn Alley', '67 Shelley Crossing', '07 Dayton Court',
       '351 Sunfield Lane', '8427 Moulton Place', '984 Del Sol Junction',
       '3 Pepper Wood Hill', '8737 Scoville Center', '385 Montana Place',
       '3 Surrey Court', '2 Magdeline Street', '93235 Hoard Trail',
       '356 Carberry Avenue', '71 Ludington Center',
       '2116 Continental Terrace', '2 7th Way', '7 Elgar Road',
       '00003 Hoffman Pass', '71 Stone Corner Avenue', '0 Esker Avenue',
       '61825 Debs Terrace', '11 Oak Terrace', '7 Michigan Hill',
       '8 Randy Park', '0 Mayfield Parkway', '57903 Hanson Parkway',
       '763 Ridgeway Place', '99 Westend Court', '5 Caliangt Center',
       '4472 Washington Junction', '31675 Corry Way',
       '4882 Dakota Center', '4 Warner Circle',
       '4 Manufacturers Crossing', '016 Westport Park', '19 Debs Parkway',
       '665 Sachs Way', '4110 Mifflin Center', '62 Spaight Center',
       '3 Express Lane', '7353 Mallard Junction', '066 Warner Trail',
       '52752 Barby Hill', '0 Stoughton Park', '49 Jana Point',
       '7 Fordem Point', '797 Westend Street', '5316 Farwell Hill',
       '770 Crest Line Parkway', '50 American Street',
       '4793 Mcbride Pass', '01124 Dottie Lane', '42681 Carey Alley',
       '2941 Talisman Alley', '990 Hoffman Avenue',
       '5 Summer Ridge Court', '102 Charing Cross Terrace',
       '5 Trailsway Avenue', '23694 Leroy Place', '53 Memorial Street',
       '691 Valley Edge Alley', '60073 Pankratz Pass',
       '8 Schlimgen Drive', '0237 Mallard Place',
       '69710 Northfield Center', '1 Kinsman Crossing',
       '40553 Rigney Avenue', '48578 Farmco Park',
       '91634 Badeau Crossing', '391 Old Shore Lane',
       '28 Golf View Terrace', '0197 Sachs Avenue', '48297 Stuart Circle',
       '67 Heath Circle', '3 Sheridan Lane', '04 Oakridge Plaza',
       '335 Cambridge Hill', '4597 Marcy Point', '9 Walton Way',
       '27429 Dottie Plaza', '42 Donald Hill', '3 Hoepker Parkway',
       '19561 Express Street', '41 Kropf Road', '0516 Fremont Point',
       '7872 South Junction', '81 Donald Parkway', '105 Carpenter Court',
       '58231 Tomscot Plaza', '3 Loeprich Point', '540 Katie Street',
       '9495 Jenna Way', '66 Ruskin Parkway', '9736 Mitchell Pass',
       '9 Springview Terrace', '1914 Oakridge Place',
       '179 Anzinger Center', '62 Melrose Court', '84650 Novick Point',
       '5 Hoard Parkway', '376 Talmadge Street', '5979 Green Ridge Way',
       '2972 Holy Cross Crossing', '89 Riverside Court',
       '540 Forest Run Plaza', '817 Bunker Hill Place', '4669 Troy Place',
       '02 Roth Drive', '7 Northridge Court', '5735 Starling Plaza',
       '97 Transport Plaza', '67183 Anniversary Parkway',
       '2 Emmet Parkway', '61926 Tomscot Hill', '07 Susan Lane',
       '43094 Kedzie Pass', '678 Lyons Trail', '1832 Burning Wood Place',
       '5642 Debs Terrace', '73 Riverside Trail', '05 Everett Trail',
       '082 Welch Lane', '72 Mccormick Circle', '15669 Arizona Trail',
       '79 Armistice Parkway', '330 Melby Terrace', '2637 Monument Trail',
       '37919 Old Gate Park', '00 Judy Terrace', '79 Armistice Junction',
       '7 Clemons Circle', '6455 Mayfield Street',
       '7873 Meadow Vale Plaza', '45 Banding Hill', '53 Moulton Avenue',
       '7 Sauthoff Park', '9082 Waywood Avenue', '30049 Brown Road',
       '7 Huxley Trail', '3 Service Center', '0627 Golf Center',
       '24960 Shopko Crossing', '43 Stoughton Drive',
       '247 Blue Bill Park Parkway', '2 David Pass', '3867 Barby Hill',
       '52 Bobwhite Court', '32249 Sycamore Way', '3 Roth Junction',
       '76 Green Ridge Drive', '9 Glacier Hill Circle',
       '91281 Transport Center', '11 Paget Road', '6 Killdeer Way',
       '737 Service Lane', '253 Katie Junction', '481 Moulton Place',
       '3864 Sheridan Alley', '61416 Karstens Place', '0 Union Parkway',
       '4 Lukken Lane', '1507 Schlimgen Trail', '4 Meadow Ridge Place',
       '31 Melody Circle', '96 Rutledge Drive', '2905 Towne Place',
       '638 Caliangt Avenue', '9645 Moose Terrace',
       '7 Messerschmidt Crossing', '005 Loeprich Way',
       '3653 Steensland Road', '56 Comanche Terrace', '66 Merry Court',
       '92 Ludington Street', '37 Rigney Park', '0796 Barnett Plaza',
       '415 Rockefeller Trail', '846 Loftsgordon Crossing',
       '9 Ridgeview Avenue', '6218 Delladonna Parkway',
       '095 Glacier Hill Circle', '057 Victoria Crossing',
       '0 Memorial Road', '409 Starling Lane', '36963 Pierstorff Terrace',
       '8069 Sunbrook Way', '9 Hovde Way', '94 Barby Lane',
       '0492 Kings Street', '1 Fair Oaks Alley', '780 Norway Maple Hill',
       '625 Mandrake Junction', '1037 Roth Park', '315 Center Park',
       '1 Graceland Plaza', '98555 Victoria Hill',
       '31121 Pierstorff Center', '59 Garrison Terrace',
       '2763 Buhler Circle', '309 Maple Wood Pass', '777 Fairfield Court',
       '99 Quincy Parkway', '902 Westend Lane', '9 Rieder Junction',
       '734 Veith Way', '0800 Dahle Alley', '5 Macpherson Drive',
       '07 Boyd Drive', '427 Oak Avenue', '390 Express Plaza',
       '703 Ludington Plaza', '7 Dayton Circle', '79 Manufacturers Plaza',
       '600 Artisan Drive', '0 Veith Way', '2336 Continental Point',
       '535 Corben Point', '1690 Forster Place', '54 6th Trail',
       '16 Pepper Wood Junction', '4 Arapahoe Terrace',
       '540 Farragut Avenue', '938 Bartillon Hill', '612 Annamark Center',
       '18 Sage Plaza', '4 Randy Street', '05 Corry Center',
       '1 South Street', '4810 Kim Park', '80388 Ryan Place',
       '1092 Kinsman Parkway', '1 Bluejay Court', '7 Maple Wood Plaza',
       '12 Eastlawn Terrace', '24929 Spaight Junction',
       '846 Daystar Lane', '36 Golf Course Circle', '0 Nelson Crossing',
       '93264 Almo Plaza', '2109 Shoshone Court', '355 Roxbury Lane',
       '2 Warrior Crossing', '08470 Kingsford Lane', '16898 Donald Plaza',
       '3128 Mallory Pass', '799 Luster Road', '53 Dryden Trail',
       '5512 Ronald Regan Hill', '72 Melrose Street', '3460 Dapin Street',
       '5 Hovde Lane', '4 Gale Center', '5263 Stone Corner Crossing',
       '0439 Mandrake Park', '069 Hoard Pass', '89 Green Ridge Point',
       '8 Cardinal Junction', '240 Main Hill', '67081 Burrows Center',
       '0 Kipling Way', '1 Raven Way', '261 Holy Cross Park',
       '891 Ohio Terrace', '1408 Hovde Circle', '50897 Northfield Road',
       '596 Boyd Park', '8 Fordem Place', '656 Kennedy Crossing',
       '2 Jackson Place', '39408 Manufacturers Road',
       '168 Schlimgen Center', '8 Kim Avenue', '920 Cambridge Way',
       '4 Schlimgen Trail', '31 Mccormick Court', '65 Milwaukee Lane',
       '76 Mendota Park', '26667 Rigney Place', '898 Muir Court',
       '88093 Pierstorff Plaza', '3319 Anthes Crossing',
       '16 Mosinee Place', '197 Northport Plaza', '10236 Mifflin Avenue',
       '5287 Clarendon Plaza', '38407 Sutteridge Circle',
       '423 Holy Cross Lane', '743 Stuart Terrace',
       '1478 Oak Valley Park', '8970 Anhalt Junction', '563 Waywood Park',
       '9313 Mayer Street', '2978 Mccormick Center', '527 Jay Trail',
       '6 Loftsgordon Pass', '9940 Manley Drive', '0736 West Crossing',
       '95796 Mcbride Drive', '20187 Loomis Court', '17393 Colorado Hill',
       '65 Rutledge Parkway', '02023 Loeprich Drive',
       '9107 Pine View Plaza', '822 Di Loreto Junction',
       '2712 Namekagon Crossing', '32 Hazelcrest Court',
       '9 Forster Circle', '07226 Anzinger Avenue', '936 Porter Lane',
       '6 Havey Pass', '844 Forster Place', '42590 Bellgrove Court',
       '6060 Veith Crossing', '25 Lakeland Point', '21667 Randy Crossing',
       '608 Dapin Court', '8738 Lukken Terrace', '8634 Wayridge Pass',
       '5 Homewood Road', '7 Dunning Avenue', '67 Beilfuss Plaza',
       '976 Roxbury Alley', '2 Main Lane', '6115 Forest Crossing',
       '432 Ronald Regan Court', '8600 Forster Lane',
       '6692 Independence Way', '770 Farmco Point', '602 Toban Center',
       '74 Shopko Pass', '804 Washington Point', '97 Merrick Center',
       '29 Tennyson Alley', '8194 Lien Street', '9503 New Castle Street',
       '0 Emmet Trail', '7 Spaight Drive', '45000 Randy Court',
       '65 David Pass', '7 Golden Leaf Avenue', '43 Dayton Drive',
       '5 Dryden Road', '14183 Iowa Center', '95 Del Mar Court',
       '98 Shoshone Road', '7199 Springview Parkway',
       '045 Magdeline Court', '5 Hoard Trail', '93 Scofield Pass',
       '2 Ridgeway Avenue', '29 Maple Trail', '7 Brentwood Circle',
       '28 Hazelcrest Drive', '01 Reindahl Circle', '5880 Hauk Street',
       '0 Larry Park', '69 Sunfield Terrace', '7513 Swallow Drive',
       '058 Morningstar Center', '0689 Melby Park', '3 Spohn Circle',
       '91 Calypso Trail', '43863 Victoria Lane',
       '54782 Lake View Parkway', '48971 Marquette Point',
       '99 Sherman Parkway', '381 Emmet Terrace', '7 Beilfuss Road',
       '37068 Montana Street', '7 Elgar Hill', '36506 Bartillon Point',
       '8 Scott Drive', '653 2nd Park', '22 Shelley Plaza',
       '504 Stuart Pass', '264 Valley Edge Pass', '5 Southridge Hill',
       '539 Graceland Pass', '22435 Barnett Court', '46057 Harbort Hill',
       '2 Shasta Place', '77608 Donald Center', '0433 La Follette Road',
       '8593 Prairie Rose Way', '179 Carey Terrace', '3 Ruskin Hill',
       '87 Crescent Oaks Alley', '08822 Duke Road', '5 Schurz Street',
       '344 Darwin Junction', '320 Acker Drive', '2874 Bay Hill',
       '3 Sunbrook Alley', '34 Jay Hill', '78 Bluestem Road',
       '0 Express Lane', '077 Hansons Point', '23737 Bartillon Street',
       '2 Anniversary Trail', '05 Ronald Regan Alley',
       '738 Spaight Drive', '8 Bunker Hill Court', '59846 2nd Pass',
       '3745 Thierer Trail', '11121 Jackson Crossing', '1 Elgar Alley',
       '32834 Caliangt Way', '27185 Fisk Drive', '2 Harper Junction',
       '7 Caliangt Street', '5331 Ilene Parkway', '1009 Roxbury Point',
       '660 Carey Avenue', '25 Oneill Alley', '2 Golden Leaf Parkway',
       '18 Dottie Park', '85 Badeau Pass', '784 Lotheville Court',
       '57568 Northview Junction', '283 Golf View Lane', '7 Johnson Hill',
       '22580 Doe Crossing Drive', '96081 Lakewood Hill',
       '6634 Old Gate Parkway', '72 Lukken Crossing',
       '6 Meadow Ridge Pass', '290 Menomonie Circle',
       '6 Sutherland Parkway', '1 Oriole Crossing', '51837 Canary Center',
       '43030 Carberry Way', '0 Bay Drive', '6 Anzinger Pass',
       '19453 Ramsey Point', '1861 Chive Court', '9 Westerfield Point',
       '3 Redwing Center', '189 Bayside Court', '174 Farwell Point',
       '356 Pennsylvania Point', '62 Dryden Junction',
       '25 Westerfield Road', '64 Armistice Point', '74 Everett Court',
       '38 Nobel Lane', '6936 Homewood Avenue', '8 Crowley Center',
       '44 Ronald Regan Parkway', '174 Lotheville Crossing',
       '8 Bluejay Road', '4286 Rowland Circle', '44 Thompson Center',
       '70360 Onsgard Plaza', '53870 Jay Pass', '417 Killdeer Alley',
       '28 Prentice Trail', '216 Bultman Park', '435 Mitchell Street',
       '15621 Twin Pines Crossing', '03 Bellgrove Avenue',
       '89100 Rusk Crossing', '077 Dennis Lane',
       '42280 Namekagon Crossing', '1 Fordem Way', '780 Bonner Pass',
       '77916 Moland Park', '00 Southridge Avenue',
       '7870 Stuart Crossing', '4 Vera Pass', '7234 Sycamore Pass',
       '98454 Dapin Park', '4 Talmadge Road', '47 Susan Park',
       '7 Ramsey Trail', '6026 Mallory Drive', '1 Eliot Plaza',
       '66 Hoffman Court', '7 Sycamore Terrace',
       '31281 Meadow Valley Way', '28 Parkside Park',
       '2782 Northridge Street', '3662 Beilfuss Lane',
       '56334 Vera Crossing', '79 Sheridan Point', '04769 Dahle Plaza',
       '5731 Bunker Hill Lane', '89244 Macpherson Trail',
       '922 Utah Avenue', '25044 Bay Avenue', '315 Hudson Road',
       '6112 Mariners Cove Park', '176 Fallview Plaza',
       '544 Pawling Road', '11 Brickson Park Alley', '77 Paget Park',
       '598 Memorial Place', '6227 Quincy Terrace',
       '31351 Sunbrook Place', '80 Schiller Center', '1217 Melody Alley',
       '46 Westerfield Place', '75024 Ronald Regan Hill', '15 Fisk Road',
       '96 Hermina Place', '99376 Namekagon Street', '276 Derek Circle',
       '56766 Mariners Cove Place', '13 Montana Place',
       '1969 Melody Lane', '02463 Portage Center', '383 Graceland Avenue',
       '005 Kensington Street', '1 Alpine Crossing', '2 Namekagon Trail',
       '6771 Pleasure Terrace', '2632 Del Mar Point', '7021 5th Alley',
       '602 Clove Center', '04153 Johnson Point', '9 Spohn Way',
       '6030 Becker Plaza', '4 Mallory Pass', '64037 Swallow Crossing',
       '4594 Jackson Hill', '4 Anzinger Street', '33 Pond Point',
       '1 Roth Plaza', '0593 Stoughton Center', '8042 Cherokee Court',
       '5864 Mcbride Trail', '180 Lakewood Park', '6 Union Center',
       '41153 Pond Park', '6233 Fulton Point', '05123 Bobwhite Plaza',
       '3413 Schmedeman Court', '4189 Laurel Center', '76 Melody Avenue',
       '1 Mcguire Lane', '8734 Fulton Hill', '660 Hallows Place',
       '43 Pond Junction', '6195 Bellgrove Lane', '63386 Talisman Hill',
       '30738 Muir Avenue', '3259 Eagan Parkway', '160 Fremont Point',
       '266 Lakewood Terrace', '5280 Waxwing Point', '192 South Junction',

In [96]:
df_NCL['state'].unique()

['QLD', 'NSW', 'VIC']
Categories (3, object): ['QLD', 'NSW', 'VIC']

In [97]:
df_NCL['country'].unique()

array(['Australia'], dtype=object)

### The NewClientList Table now have quality data. Just want to understand some meaning for colums and name of nan colums to make ready for the nexr amalysis

### ------------------------------------------------------------------------------

## CustomerDemographic table
## ----

In [110]:
# dataset for CustomerDemographic
df_CD = pd.read_excel(r'KPMG_VI_New_raw_data_update_final.xlsx', sheet_name='CustomerDemographic')
df_CD.head(50)

,Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Laraine,Medendorp,F,93,1953-10-12 00:00:00,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Eli,Bockman,Male,81,1980-12-16 00:00:00,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Arlin,Dearle,Male,61,1954-01-20 00:00:00,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Talbot,NaN,Male,33,1961-10-03 00:00:00,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,Sheila-kathryn,Calton,Female,56,1977-05-13 00:00:00,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,Curr,Duckhouse,Male,35,1966-09-16 00:00:00,NaN,Retail,High Net Worth,N,ðµ ð ð ð,Yes,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,Fina,Merali,Female,6,1976-02-23 00:00:00,NaN,Financial Services,Affluent Customer,N,â°â´âµâââ,Yes,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,Rod,Inder,Male,31,1962-03-30 00:00:00,Media Manager I,NaN,Mass Customer,N,(â¯Â°â¡Â°ï¼â¯ï¸µ â»ââ»),No,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,Mala,Lind,Female,97,1973-03-10 00:00:00,Business Systems Development Analyst,Argiculture,Affluent Customer,N,0/0,Yes,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,Fiorenze,Birdall,Female,49,1988-10-11 00:00:00,Senior Quality Engineer,Financial Services,Mass Customer,N,ð©ð½,Yes,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,Uriah,Bisatt,Male,99,1954-04-30 00:00:00,NaN,Property,Mass Customer,N,ÅâÂ´Â®â Â¥Â¨ËÃ¸Ïââ,No,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,Sawyere,Flattman,Male,58,1994-07-21 00:00:00,Nuclear Power Engineer,Manufacturing,Mass Customer,N,nil,No,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,Gabriele,Norcross,Male,38,1955-02-15 00:00:00,Developer I,Financial Services,High Net Worth,N,-100,Yes,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,Rayshell,Kitteman,Female,85,1983-03-25 00:00:00,Account Executive,Financial Services,Affluent Customer,N,â°â´âµ,No,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,Erroll,Radage,Male,91,2000-07-13 00:00:00,Junior Executive,Manufacturing,Mass Customer,N,ð,No,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,Harlin,Parr,Male,38,1977-02-27 00:00:00,Media Manager IV,NaN,Mass Customer,N,1000000000000000049861653971908893017010268485...,Yes,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17,Heath,Faraday,Male,57,1962-03-19 00:00:00,Sales Associate,NaN,Affluent Customer,N,ï¾ï½¥â¿ã¾â²(ï½¡ââ¿âï½¡)â±â¿ï½¥ï¾,Yes,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,Marjie,Neasham,Female,79,1967-07-06 00:00:00,Professor,NaN,Affluent Customer,N,Î©âÃ§ââ«ËÂµâ¤â¥Ã·,No,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,Sorcha,Keyson,Female,76,2001-04-15 00:00:00,Geological Engineer,Manufacturing,High Net Worth,N,ÅâÂ´â°ËÃÂ¨ËÃâââ,No,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20,Basile,Firth,Male,72,1980-08-13 00:00:00,Project Manager,Manufacturing,Mass Customer,N,ð©ð½,No,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,21,Mile,Cammocke,Male,74,1980-09-20 00:00:00,Safety Technician I,Manufacturing,Affluent Customer,N,-100,Yes,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,22,Deeanne,Durtnell,Female,79,1962-12-10 00:00:00,NaN,IT,Mass Customer,N,ï¼ï¼ï¼,No,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,23,Olav,Polak,Male,43,1995-02-10 00:00:00,NaN,NaN,High Net Worth,N,2018-02-01 00:00:00,Yes,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,24,Kim,Skpsey,Female,55,1977-12-03 00:00:00,Research Assistant I,Argiculture,Mass Customer,N,../../../../../../../../../../../etc/hosts,Yes,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,25,Geoff,Assaf,Male,72,1976-12-02 00:00:00,Accounting Assistant III,Financial Services,Mass Customer,N,×Ö¸×Ö°×ªÖ¸×testØ§ÙØµÙØ­Ø§Øª Ø§ÙØªÙØ­ÙÙ,Yes,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,26,Trixi,Ginnelly,Female,12,1978-06-10 00:00:00,Editor,Financial Services,Mass Customer,N,"<>?:""{}|_+",Yes,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,27,Garvin,Klees,Male,37,1978-09-25 00:00:00,Research Nurse,Health,Mass Customer,N,"''''""",Yes,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,28,Fee,Zellmer,Male,5,1973-09-30 00:00:00,Senior Quality Engineer,Health,Affluent Customer,N,",./;'[]\-=",Yes,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,29,Mona,Sancraft,Female,62,1968-06-22 00:00:00,Safety Technician III,Manufacturing,Mass Customer,N,() { 0; }; touch /tmp/blns.shellshock1.fail;,No,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,30,Darrick,Helleckas,Male,18,1961-10-18 00:00:00,NaN,IT,Affluent Customer,N,ì¬íê³¼íì ì´íì°êµ¬ì,Yes,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,31,Star,Praton,Female,3,1962-11-24 00:00:00,Staff Accountant III,Telecommunications,High Net Worth,N,testâ testâ«,Yes,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,32,Marion,Vanichkin,Female,17,1995-04-20 00:00:00,Legal Assistant,Manufacturing,Affluent Customer,N,0ï¸â£ 1ï¸â£ 2ï¸â£ 3ï¸â£ 4ï¸â£ 5ï¸â£ 6ï¸â£ 7ï¸â...,No,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,33,Ernst,Hacon,Male,44,1957-06-25 00:00:00,Product Engineer,NaN,Affluent Customer,N,<script>alert('hi')</script>,Yes,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,34,Jephthah,Bachmann,U,59,1843-12-21,Legal Assistant,IT,Affluent Customer,N,NaN,No,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,35,Margaretha,Strettle,Female,40,1963-09-28 00:00:00,Information Systems Manager,Health,High Net Worth,N,!@#$%^&*(),Yes,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,36,Lurette,Stonnell,Female,33,1977-11-09 00:00:00,VP Quality Control,NaN,Affluent Customer,N,"<>?:""{}|_+",No,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,37,Laurie,Dwerryhouse,Female,46,1985-12-22 00:00:00,Social Worker,Health,High Net Worth,N,Î©âÃ§ââ«ËÂµâ¤â¥Ã·,No,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,38,Cordi,Merman,Female,37,1955-10-29 00:00:00,Senior Cost Accountant,Financial Services,Affluent Customer,N,"''''""",No,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,39,Hunfredo,Smalley,Male,5,1979-04-16 00:00:00,Assistant Media Planner,Entertainment,Mass Customer,N,',No,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,40,Tomasine,Jerche,Female,91,1981-10-27 00:00:00,Payment Adjustment Coordinator,Manufacturing,Affluent Customer,N,Ì¦HÍÌ¬Ì¤ÌÌ¤eÍ ÍÌÌ¥ÌÌ»ÍÌwÌhÌÌ¯ÍoÌÍÌÍÌ±Ì® ÒÌºÌÌÌ...,No,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,41,Basilius,Coupe,Male,64,1976-04-14 00:00:00,Food Chemist,Health,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,42,Chiquita,Durnall,Female,24,1977-03-28 00:00:00,Accountant III,Manufacturing,Mass Customer,N,"<>?:""{}|_+",No,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,43,Indira,Belt,Female,38,1983-03-01 00:00:00,Director of Sales,Retail,Mass Customer,N,â°â´âµ,No,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,44,Neron,Verick,Male,63,1981-10-18 00:00:00,Assistant Media Planner,Entertainment,Affluent Customer,N,../../../../../../../../../../../etc/passwd%00,Yes,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,45,Trace,Woodhead,Male,64,1975-09-23 00:00:00,Senior Financial Analyst,Financial Services,Mass Customer,N,åè£½æ¼¢èª,No,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,46,Kaila,Allin,Female,98,1972-02-26 00:00:00,NaN,NaN,Affluent Customer,N,â°â´âµâââ,Yes,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,47,Matthew,Jeaycock,Male,51,1992-10-22 00:00:00,Registered Nurse,Health,Affluent Customer,N,<script>alert('hi')</script>,No,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,48,Rebbecca,Casone,Female,46,1975-08-15 00:00:00,Biostatistician II,NaN,Mass Customer,N,../../../../../../../../../../../etc/hosts,Yes,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,49,Nolly,Ownsworth,Male,63,1994-01-26 00:00:00,VP Quality Control,NaN,Affluent Customer,N,`ââ¬â¹âºï¬ï¬â¡Â°Â·ââÂ±,No,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Observation CustomerDemographic dataset:
- Gender do not have the same format  sometime use F/M sometime use Male / Female 
- Gender have wrong data, as irrelevant data as(U)
- DOB do not have the same formate
- job_title have missing data 
- job_industry_category have missing data 
- default column have understanduable data. what the porpuse of it.
- There 13 column NaN without any data.''

In [111]:
# let's know how many rows 
len(df_CD.index)

4001

In [112]:
#change header
h1 =df_CD.iloc[0]
df_CD = df_CD[1:]
df_CD.columns= h1
df_CD.head(20)

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Laraine,Medendorp,F,93,1953-10-12 00:00:00,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Eli,Bockman,Male,81,1980-12-16 00:00:00,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Arlin,Dearle,Male,61,1954-01-20 00:00:00,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Talbot,NaN,Male,33,1961-10-03 00:00:00,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,Sheila-kathryn,Calton,Female,56,1977-05-13 00:00:00,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,Curr,Duckhouse,Male,35,1966-09-16 00:00:00,NaN,Retail,High Net Worth,N,ðµ ð ð ð,Yes,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,Fina,Merali,Female,6,1976-02-23 00:00:00,NaN,Financial Services,Affluent Customer,N,â°â´âµâââ,Yes,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,Rod,Inder,Male,31,1962-03-30 00:00:00,Media Manager I,NaN,Mass Customer,N,(â¯Â°â¡Â°ï¼â¯ï¸µ â»ââ»),No,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,Mala,Lind,Female,97,1973-03-10 00:00:00,Business Systems Development Analyst,Argiculture,Affluent Customer,N,0/0,Yes,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,Fiorenze,Birdall,Female,49,1988-10-11 00:00:00,Senior Quality Engineer,Financial Services,Mass Customer,N,ð©ð½,Yes,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,Uriah,Bisatt,Male,99,1954-04-30 00:00:00,NaN,Property,Mass Customer,N,ÅâÂ´Â®â Â¥Â¨ËÃ¸Ïââ,No,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,Sawyere,Flattman,Male,58,1994-07-21 00:00:00,Nuclear Power Engineer,Manufacturing,Mass Customer,N,nil,No,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,Gabriele,Norcross,Male,38,1955-02-15 00:00:00,Developer I,Financial Services,High Net Worth,N,-100,Yes,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,Rayshell,Kitteman,Female,85,1983-03-25 00:00:00,Account Executive,Financial Services,Affluent Customer,N,â°â´âµ,No,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,Erroll,Radage,Male,91,2000-07-13 00:00:00,Junior Executive,Manufacturing,Mass Customer,N,ð,No,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,Harlin,Parr,Male,38,1977-02-27 00:00:00,Media Manager IV,NaN,Mass Customer,N,1000000000000000049861653971908893017010268485...,Yes,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17,Heath,Faraday,Male,57,1962-03-19 00:00:00,Sales Associate,NaN,Affluent Customer,N,ï¾ï½¥â¿ã¾â²(ï½¡ââ¿âï½¡)â±â¿ï½¥ï¾,Yes,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,Marjie,Neasham,Female,79,1967-07-06 00:00:00,Professor,NaN,Affluent Customer,N,Î©âÃ§ââ«ËÂµâ¤â¥Ã·,No,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,Sorcha,Keyson,Female,76,2001-04-15 00:00:00,Geological Engineer,Manufacturing,High Net Worth,N,ÅâÂ´â°ËÃÂ¨ËÃâââ,No,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20,Basile,Firth,Male,72,1980-08-13 00:00:00,Project Manager,Manufacturing,Mass Customer,N,ð©ð½,No,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [113]:
df_CD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 1 to 4000
Data columns (total 26 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   object
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   object
 5   DOB                                  3913 non-null   object
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  default                              3698 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   object
 13  nan                                  0 non-null      float64
 14  nan                                  0 non-null      float64
 15  nan                                  0 non-null      float64
 16  nan                                  0 non-null      float64
 17  nan                                  0 non-null      float64
 18  nan                                  0 non-null      float64
 19  nan                                  0 non-null      float64
 20  nan                                  0 non-null      float64
 21  nan                                  0 non-null      float64
 22  nan                                  0 non-null      float64
 23  nan                                  0 non-null      float64
 24  nan                                  0 non-null      float64
 25  nan                                  0 non-null      float64
dtypes: float64(13), object(13)
memory usage: 812.6+ KB

## Obsevation CustomerDemographic Table
- Adjust customer_id, past_3_years_bike_related_purchases data type to be int
- gender column we need to make data formate consistance then change data type to be category and i suggest to be (Female / Male) to make sure data the same. since NewClientList table have the same column in that fomrate.
- Change DOB data type to be datetime
- Adjust data type of job_title,job_industry_category, wealth_segment to be category
- Drop nan colums

In [114]:
# we will know how many missing values in that data set
for i in df_CD.columns :
    if df_CD[i].isna().sum() != 0 : 
        print('Null Values in ', i, "Column :", df_CD[i].isna().sum())

Null Values in  last_name Column : 125
Null Values in  DOB Column : 87
Null Values in  job_title Column : 506
Null Values in  job_industry_category Column : 656
Null Values in  default Column : 302
Null Values in  tenure Column : 87
Null Values in  nan Column : 4000
Null Values in  nan Column : 4000
Null Values in  nan Column : 4000
Null Values in  nan Column : 4000
Null Values in  nan Column : 4000
Null Values in  nan Column : 4000
Null Values in  nan Column : 4000
Null Values in  nan Column : 4000
Null Values in  nan Column : 4000
Null Values in  nan Column : 4000
Null Values in  nan Column : 4000
Null Values in  nan Column : 4000
Null Values in  nan Column : 4000

In [115]:
len(df_CD.index)

4000

### Handel missing data 
### -------
-  last_name Column : 125
-  DOB Column : 87
-  job_title Column : 506
-  job_industry_category Column : 656
-  default Column : 302
-  tenure Column : 87
-  colums with nan data

In [116]:
# last_name Column : 125 missing. It's essential for our analysis. So, I will fill data with 'Unknown' simple approach
df_CD['last_name'] = df_CD['last_name'].fillna('Unknown')



#job_title Column : 506 missing & job_industry_category Column : 656. 
# Simple approach, I will fill data with 'Unknown' simple approach.
# If this columns, is essential for our analysis. So, we can use NLP techiques to extract job title from other text columns or try to impute them based on pattern within dataset
df_CD['job_title'] = df_CD['job_title'].fillna('Unknown')
df_CD['job_industry_category'] = df_CD['job_industry_category'].fillna('Unknown')

#DOB Column : 87 missing. drop data
df_CD =df_CD.dropna(subset = ['DOB'])

# will drop the all columns with nan values 
df_CD= df_CD.dropna(how="any", axis=1)

# check there is no missing data 
for i in df_CD.columns :
    if df_CD[i].isna().sum() != 0 : 
        print('Null Values in ', i, "Column :", df_CD[i].isna().sum())

## Check duplication
## ---

In [107]:
df_CD.duplicated().sum()

0

### No duplication

## Change data type
## ---
- Adjust customer_id, past_3_years_bike_related_purchases data type to be int
- gender column we need to make data formate consistance then change data type to be category and i suggest to be (Female / Male) to make sure data the same. since NewClientList table have the same column in that fomrate.
- Adjust data type of job_title,job_industry_category, wealth_segment to be category
- Change DOB data type to be datetime
- Change owns_car data type to be bool

In [123]:
#Adjust customer_id, past_3_years_bike_related_purchases data type to be int
df_CD['past_3_years_bike_related_purchases'] = df_CD['past_3_years_bike_related_purchases'].astype(int)
df_CD['customer_id'] = df_CD['customer_id'].astype(int)

# Change data type for gender, job_title,job_industry_category, wealth_segment to be category
df_CD['gender'] = df_CD['gender'].astype('category')
df_CD['job_title'] = df_CD['job_title'].astype('category')
df_CD['job_industry_category'] = df_CD['job_industry_category'].astype('category')
df_CD['wealth_segment'] = df_CD['wealth_segment'].astype('category')

#Adjust DOB formate for data and change data type to be datetime
df_CD['DOB']= pd.to_datetime(df_CD['DOB'].astype(str),format='%Y/%m/%d')

#Change owns_car data type to be bool
df_CD['owns_car']= df_CD['owns_car'].astype('bool')

# check our change 
df_CD.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3912 entries, 1 to 4000
Data columns (total 12 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          3912 non-null   int64
 1   first_name                           3912 non-null   object
 2   last_name                            3912 non-null   object
 3   gender                               3912 non-null   category
 4   past_3_years_bike_related_purchases  3912 non-null   int64
 5   DOB                                  3912 non-null   datetime64[ns]
 6   job_title                            3912 non-null   category
 7   job_industry_category                3912 non-null   category
 8   wealth_segment                       3912 non-null   category
 9   deceased_indicator                   3912 non-null   object
 10  owns_car                             3912 non-null   bool
 11  tenure                               3912 non-null   object
dtypes: bool(1), category(4), datetime64[ns](1), int64(2), object(4)
memory usage: 273.7+ KB

### Check quality of data 
### ----
- gender                                   
- job_title                                 
- job_industry_category                    
- wealth_segment                            
- deceased_indicator                           
- owns_car

In [118]:
df_CD['gender'].unique()

['F', 'Male', 'Female', 'U', 'Femal', 'M']
Categories (6, object): ['F', 'Male', 'Female', 'U', 'Femal', 'M']

In [120]:
# replace {F , Femal} to be Female
df_CD['gender'] = df_CD['gender'].replace('F', 'Female')
df_CD['gender'] = df_CD['gender'].replace('Femal', 'Female')

# replace {M } to be  Male
df_CD['gender'] = df_CD['gender'].replace('M', 'Male')

# check replace
df_CD['gender'].unique()

['Female', 'Male', 'U']
Categories (3, object): ['Female', 'Male', 'U']

In [121]:
# group by gender to know how many 'U' it's have 
df_CD.groupby('gender').size()

gender
Female    2039
Male      1873
U            1
dtype: int64

In [ ]:
# we can just drop gender with 'U' value

In [122]:
df_CD =df_CD[(df_CD.gender != 'U')]
# confirm replace 
df_CD.gender.unique()

['Female', 'Male']
Categories (2, object): ['Female', 'Male']

In [125]:
# check job_title
df_CD['job_title'].unique().tolist()

['Executive Secretary',
 'Administrative Officer',
 'Recruiting Manager',
 'Unknown',
 'Senior Editor',
 'Media Manager I',
 'Business Systems Development Analyst',
 'Senior Quality Engineer',
 'Nuclear Power Engineer',
 'Developer I',
 'Account Executive',
 'Junior Executive',
 'Media Manager IV',
 'Sales Associate',
 'Professor',
 'Geological Engineer',
 'Project Manager',
 'Safety Technician I',
 'Research Assistant I',
 'Accounting Assistant III',
 'Editor',
 'Research Nurse',
 'Safety Technician III',
 'Staff Accountant III',
 'Legal Assistant',
 'Product Engineer',
 'Information Systems Manager',
 'VP Quality Control',
 'Social Worker',
 'Senior Cost Accountant',
 'Assistant Media Planner',
 'Payment Adjustment Coordinator',
 'Food Chemist',
 'Accountant III',
 'Director of Sales',
 'Senior Financial Analyst',
 'Registered Nurse',
 'Biostatistician II',
 'Computer Systems Analyst II',
 'Software Test Engineer II',
 'Paralegal',
 'VP Sales',
 'Chief Design Engineer',
 'Office Assistant III',
 'Physical Therapy Assistant',
 'Help Desk Operator',
 'Web Developer II',
 'Research Associate',
 'Teacher',
 'VP Product Management',
 'Statistician II',
 'Automation Specialist IV',
 'Data Coordiator',
 'Software Test Engineer III',
 'Internal Auditor',
 'Analyst Programmer',
 'Occupational Therapist',
 'Speech Pathologist',
 'Quality Control Specialist',
 'Civil Engineer',
 'Software Engineer III',
 'Community Outreach Specialist',
 'Safety Technician IV',
 'VP Accounting',
 'General Manager',
 'Nurse Practicioner',
 'Automation Specialist II',
 'Marketing Assistant',
 'Marketing Manager',
 'Staff Scientist',
 'Assistant Professor',
 'Budget/Accounting Analyst IV',
 'Associate Professor',
 'Graphic Designer',
 'Administrative Assistant II',
 'Compensation Analyst',
 'Systems Administrator III',
 'Financial Advisor',
 'Chemical Engineer',
 'Web Designer I',
 'Senior Developer',
 'Office Assistant II',
 'Recruiter',
 'Operator',
 'Programmer Analyst III',
 'Quality Engineer',
 'Analog Circuit Design manager',
 'Cost Accountant',
 'Librarian',
 'Structural Analysis Engineer',
 'Pharmacist',
 'Assistant Manager',
 'Accountant I',
 'Environmental Tech',
 'Web Designer III',
 'Geologist III',
 'Software Test Engineer I',
 'Structural Engineer',
 'Safety Technician II',
 'Web Developer III',
 'Programmer Analyst II',
 'Design Engineer',
 'Statistician I',
 'VP Marketing',
 'Desktop Support Technician',
 'Actuary',
 'Database Administrator III',
 'Electrical Engineer',
 'Tax Accountant',
 'Clinical Specialist',
 'Database Administrator IV',
 'Systems Administrator II',
 'Account Coordinator',
 'Programmer III',
 'Administrative Assistant III',
 'Nurse',
 'Technical Writer',
 'Staff Accountant II',
 'Dental Hygienist',
 'Sales Representative',
 'Budget/Accounting Analyst III',
 'Computer Systems Analyst IV',
 'Geologist I',
 'Financial Analyst',
 'Accounting Assistant II',
 'Database Administrator II',
 'Engineer I',
 'Budget/Accounting Analyst I',
 'Developer IV',
 'Database Administrator I',
 'Environmental Specialist',
 'Computer Systems Analyst I',
 'Account Representative IV',
 'Statistician IV',
 'Human Resources Manager',
 'GIS Technical Architect',
 'Programmer IV',
 'Senior Sales Associate',
 'Accounting Assistant IV',
 'Software Engineer IV',
 'Programmer II',
 'Engineer III',
 'Software Consultant',
 'Biostatistician IV',
 'Help Desk Technician',
 'Automation Specialist I',
 'Developer III',
 'Human Resources Assistant I',
 'Geologist IV',
 'Media Manager II',
 'Statistician III',
 'Engineer II',
 'Health Coach II',
 'Developer II',
 'Systems Administrator I',
 'Web Developer I',
 'Software Engineer II',
 'Accounting Assistant I',
 'Research Assistant II',
 'Programmer Analyst IV',
 'Health Coach I',
 'Accountant II',
 'Automation Specialist III',
 'Administrative Assistant I',
 'Health Coach IV',
 'Media Manager III',
 'Account Representative III',
 'Web Designer IV',
 'Budget/Accounting Analyst II',
 'Web Developer IV',
 'Biostatistician III',
 'Software Test Engineer IV',
 'Research Assistant IV',
 'Account Representative I',
 'Accountant IV',
 'Biostatistician I',
 'Human Resources Assistant IV',
 'Administrative Assistant IV',
 'Programmer I',
 'Office Assistant I',
 'Human Resources Assistant II',
 'Mechanical Systems Engineer',
 'Engineer IV',
 'Health Coach III',
 'Office Assistant IV',
 'Software Engineer I',
 'Human Resources Assistant III',
 'Staff Accountant I',
 'Computer Systems Analyst III',
 'Geologist II',
 'Web Designer II',
 'Staff Accountant IV',
 'Account Representative II',
 'Programmer Analyst I',
 'Systems Administrator IV',
 'Research Assistant III']

In [127]:
# My observation regard this column, there are redundancy. We need to reomve I,II,III, IV, V, P  

# Replace pattern of string using regular expression.
df_CD['job_title'] = df_CD['job_title'].str.replace('I', '', regex=True)
df_CD['job_title'] = df_CD['job_title'].str.replace('II', '', regex=True)
df_CD['job_title'] = df_CD['job_title'].str.replace('III', '', regex=True)
df_CD['job_title'] = df_CD['job_title'].str.replace('IV', '', regex=True)
df_CD['job_title'] = df_CD['job_title'].str.replace('V', '', regex=True)
df_CD['job_title'] = df_CD['job_title'].str.replace('P ', '', regex=True)

df_CD['job_title'].unique().tolist()

['Executive Secretary',
 'Administrative Officer',
 'Recruiting Manager',
 'Unknown',
 'Senior Editor',
 'Media Manager ',
 'Business Systems Development Analyst',
 'Senior Quality Engineer',
 'Nuclear Power Engineer',
 'Developer ',
 'Account Executive',
 'Junior Executive',
 'Sales Associate',
 'Professor',
 'Geological Engineer',
 'Project Manager',
 'Safety Technician ',
 'Research Assistant ',
 'Accounting Assistant ',
 'Editor',
 'Research Nurse',
 'Staff Accountant ',
 'Legal Assistant',
 'Product Engineer',
 'nformation Systems Manager',
 'Quality Control',
 'Social Worker',
 'Senior Cost Accountant',
 'Assistant Media Planner',
 'Payment Adjustment Coordinator',
 'Food Chemist',
 'Accountant ',
 'Director of Sales',
 'Senior Financial Analyst',
 'Registered Nurse',
 'Biostatistician ',
 'Computer Systems Analyst ',
 'Software Test Engineer ',
 'Paralegal',
 'Sales',
 'Chief Design Engineer',
 'Office Assistant ',
 'Physical Therapy Assistant',
 'Help Desk Operator',
 'Web Developer ',
 'Research Associate',
 'Teacher',
 'Product Management',
 'Statistician ',
 'Automation Specialist ',
 'Data Coordiator',
 'nternal Auditor',
 'Analyst Programmer',
 'Occupational Therapist',
 'Speech Pathologist',
 'Quality Control Specialist',
 'Civil Engineer',
 'Software Engineer ',
 'Community Outreach Specialist',
 'Accounting',
 'General Manager',
 'Nurse Practicioner',
 'Marketing Assistant',
 'Marketing Manager',
 'Staff Scientist',
 'Assistant Professor',
 'Budget/Accounting Analyst ',
 'Associate Professor',
 'Graphic Designer',
 'Administrative Assistant ',
 'Compensation Analyst',
 'Systems Administrator ',
 'Financial Advisor',
 'Chemical Engineer',
 'Web Designer ',
 'Senior Developer',
 'Recruiter',
 'Operator',
 'Programmer Analyst ',
 'Quality Engineer',
 'Analog Circuit Design manager',
 'Cost Accountant',
 'Librarian',
 'Structural Analysis Engineer',
 'Pharmacist',
 'Assistant Manager',
 'Environmental Tech',
 'Geologist ',
 'Structural Engineer',
 'Design Engineer',
 'Marketing',
 'Desktop Support Technician',
 'Actuary',
 'Database Administrator ',
 'Electrical Engineer',
 'Tax Accountant',
 'Clinical Specialist',
 'Account Coordinator',
 'Programmer ',
 'Nurse',
 'Technical Writer',
 'Dental Hygienist',
 'Sales Representative',
 'Financial Analyst',
 'Engineer ',
 'Environmental Specialist',
 'Account Representative ',
 'Human Resources Manager',
 'GS Technical Architect',
 'Senior Sales Associate',
 'Software Consultant',
 'Help Desk Technician',
 'Human Resources Assistant ',
 'Health Coach ',
 'Mechanical Systems Engineer']

In [129]:
# check job_industry_category
df_CD['job_industry_category'].unique().tolist()

['Health',
 'Financial Services',
 'Property',
 'IT',
 'Unknown',
 'Retail',
 'Argiculture',
 'Manufacturing',
 'Telecommunications',
 'Entertainment']

In [130]:
# check wealth_segment
df_CD['wealth_segment'].unique()

['Mass Customer', 'Affluent Customer', 'High Net Worth']
Categories (3, object): ['Mass Customer', 'Affluent Customer', 'High Net Worth']

In [131]:
# check deceased_indicator
df_CD['deceased_indicator'].unique()

array(['N', 'Y'], dtype=object)

In [133]:
# check owns_car
df_CD['owns_car'].unique()

array([ True])

### -------------------------------------------------------------------

## CustomerAddress table
## ----------------

In [134]:
#read data set CustomerAddress
df_CA = pd.read_excel(r'KPMG_VI_New_raw_data_update_final.xlsx', sheet_name='CustomerAddress')
df_CA.head(50)

,Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,customer_id,address,postcode,state,country,property_valuation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,060 Morning Avenue,2016,New South Wales,Australia,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,6 Meadow Vale Court,2153,New South Wales,Australia,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,0 Holy Cross Court,4211,QLD,Australia,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,17979 Del Mar Point,2448,New South Wales,Australia,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,9 Oakridge Court,3216,VIC,Australia,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,4 Delaware Trail,2210,New South Wales,Australia,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,49 Londonderry Lane,2650,New South Wales,Australia,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,97736 7th Trail,2023,New South Wales,Australia,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,11,93405 Ludington Park,3044,VIC,Australia,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,12,44339 Golden Leaf Alley,4557,QLD,Australia,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,13,2 Sutherland Street,3799,VIC,Australia,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,14,9 Mcbride Trail,2760,New South Wales,Australia,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,15,9861 New Castle Avenue,2428,New South Wales,Australia,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,16,52 Moland Street,3331,VIC,Australia,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,17,82391 Kensington Lane,3058,VIC,Australia,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,18,092 2nd Alley,2135,New South Wales,Australia,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,19,59 Spaight Circle,2233,New South Wales,Australia,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,20,032 Bartelt Crossing,2444,New South Wales,Australia,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,21,18 Jenna Center,2650,New South Wales,Australia,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,24,3 Cordelia Plaza,2153,New South Wales,Australia,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,25,28 5th Center,4413,QLD,Australia,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,26,52 Carey Alley,4740,QLD,Australia,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,27,96 Texas Plaza,3218,VIC,Australia,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,28,48 Eagan Avenue,4868,QLD,Australia,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,29,9 Buell Park,4116,QLD,Australia,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,30,02663 Buell Parkway,2519,New South Wales,Australia,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,31,2294 Pleasure Place,2135,New South Wales,Australia,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,32,2951 Petterle Place,2756,New South Wales,Australia,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,33,63 Lukken Drive,2170,New South Wales,Australia,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,34,833 Luster Way,4005,QLD,Australia,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,35,34 Russell Plaza,4127,QLD,Australia,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,36,78 Del Sol Hill,2535,New South Wales,Australia,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,37,54 Sage Plaza,4726,QLD,Australia,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,38,90 Lawn Parkway,4805,QLD,Australia,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,39,38726 Ilene Crossing,2212,New South Wales,Australia,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,40,3496 Brown Drive,2207,New South Wales,Australia,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,41,7188 Cody Way,3350,VIC,Australia,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,42,1 Claremont Park,3931,VIC,Australia,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,43,60 Eagan Circle,4018,QLD,Australia,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,44,89314 Eagle Crest Center,4670,QLD,Australia,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,45,2028 Lakewood Place,2480,New South Wales,Australia,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,46,70875 Hudson Point,3212,VIC,Australia,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,47,543 Killdeer Park,2322,New South Wales,Australia,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,48,22125 Ramsey Drive,3198,VIC,Australia,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,49,3107 Calypso Terrace,2210,New South Wales,Australia,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,50,957 Veith Junction,2047,New South Wales,Australia,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,51,4853 Gulseth Avenue,4503,QLD,Australia,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,52,9 Michigan Terrace,2145,New South Wales,Australia,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,53,62 Steensland Road,4350,QLD,Australia,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Observation CustomerAddress dataset:
- 20 NaN colums

In [135]:
h1 = df_CA.iloc[0]
df_CA = df_CA[1:]
df_CA.columns = h1
df_CA.head(50)

,customer_id,address,postcode,state,country,property_valuation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,060 Morning Avenue,2016,New South Wales,Australia,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,6 Meadow Vale Court,2153,New South Wales,Australia,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,0 Holy Cross Court,4211,QLD,Australia,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,17979 Del Mar Point,2448,New South Wales,Australia,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,9 Oakridge Court,3216,VIC,Australia,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,4 Delaware Trail,2210,New South Wales,Australia,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,49 Londonderry Lane,2650,New South Wales,Australia,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,97736 7th Trail,2023,New South Wales,Australia,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,11,93405 Ludington Park,3044,VIC,Australia,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,12,44339 Golden Leaf Alley,4557,QLD,Australia,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,13,2 Sutherland Street,3799,VIC,Australia,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,14,9 Mcbride Trail,2760,New South Wales,Australia,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,15,9861 New Castle Avenue,2428,New South Wales,Australia,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,16,52 Moland Street,3331,VIC,Australia,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,17,82391 Kensington Lane,3058,VIC,Australia,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,18,092 2nd Alley,2135,New South Wales,Australia,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,19,59 Spaight Circle,2233,New South Wales,Australia,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,20,032 Bartelt Crossing,2444,New South Wales,Australia,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,21,18 Jenna Center,2650,New South Wales,Australia,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,24,3 Cordelia Plaza,2153,New South Wales,Australia,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,25,28 5th Center,4413,QLD,Australia,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,26,52 Carey Alley,4740,QLD,Australia,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,27,96 Texas Plaza,3218,VIC,Australia,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,28,48 Eagan Avenue,4868,QLD,Australia,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,29,9 Buell Park,4116,QLD,Australia,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,30,02663 Buell Parkway,2519,New South Wales,Australia,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,31,2294 Pleasure Place,2135,New South Wales,Australia,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,32,2951 Petterle Place,2756,New South Wales,Australia,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,33,63 Lukken Drive,2170,New South Wales,Australia,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,34,833 Luster Way,4005,QLD,Australia,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,35,34 Russell Plaza,4127,QLD,Australia,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,36,78 Del Sol Hill,2535,New South Wales,Australia,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,37,54 Sage Plaza,4726,QLD,Australia,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,38,90 Lawn Parkway,4805,QLD,Australia,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,39,38726 Ilene Crossing,2212,New South Wales,Australia,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,40,3496 Brown Drive,2207,New South Wales,Australia,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,41,7188 Cody Way,3350,VIC,Australia,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,42,1 Claremont Park,3931,VIC,Australia,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,43,60 Eagan Circle,4018,QLD,Australia,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,44,89314 Eagle Crest Center,4670,QLD,Australia,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,45,2028 Lakewood Place,2480,New South Wales,Australia,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,46,70875 Hudson Point,3212,VIC,Australia,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,47,543 Killdeer Park,2322,New South Wales,Australia,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,48,22125 Ramsey Drive,3198,VIC,Australia,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,49,3107 Calypso Terrace,2210,New South Wales,Australia,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,50,957 Veith Junction,2047,New South Wales,Australia,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,51,4853 Gulseth Avenue,4503,QLD,Australia,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,52,9 Michigan Terrace,2145,New South Wales,Australia,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,53,62 Steensland Road,4350,QLD,Australia,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,54,6 Homewood Avenue,2142,New South Wales,Australia,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [136]:
df_CA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 1 to 3999
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   object
 1   address             3999 non-null   object
 2   postcode            3999 non-null   object
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   object
 6   nan                 0 non-null      float64
 7   nan                 0 non-null      float64
 8   nan                 0 non-null      float64
 9   nan                 0 non-null      float64
 10  nan                 0 non-null      float64
 11  nan                 0 non-null      float64
 12  nan                 0 non-null      float64
 13  nan                 0 non-null      float64
 14  nan                 0 non-null      float64
 15  nan                 0 non-null      float64
 16  nan                 0 non-null      float64
 17  nan                 0 non-null      float64
 18  nan                 0 non-null      float64
 19  nan                 0 non-null      float64
 20  nan                 0 non-null      float64
 21  nan                 0 non-null      float64
 22  nan                 0 non-null      float64
 23  nan                 0 non-null      float64
 24  nan                 0 non-null      float64
 25  nan                 0 non-null      float64
dtypes: float64(20), object(6)
memory usage: 812.4+ KB

## Obsevation CustomerAddress Table
- postcode & property_valuation change data type to be int
- state & country change data type to be categorical
- Delete nan colums

In [137]:
# let's know how many rows 
len(df_CA.index)

3999

In [138]:
# we will know how many missing values in that data set
for i in df_CA.columns :
    if df_CA[i].isna().sum() != 0 : 
        print('Null Values in ', i, "Column :", df_CA[i].isna().sum())

Null Values in  nan Column : 3999
Null Values in  nan Column : 3999
Null Values in  nan Column : 3999
Null Values in  nan Column : 3999
Null Values in  nan Column : 3999
Null Values in  nan Column : 3999
Null Values in  nan Column : 3999
Null Values in  nan Column : 3999
Null Values in  nan Column : 3999
Null Values in  nan Column : 3999
Null Values in  nan Column : 3999
Null Values in  nan Column : 3999
Null Values in  nan Column : 3999
Null Values in  nan Column : 3999
Null Values in  nan Column : 3999
Null Values in  nan Column : 3999
Null Values in  nan Column : 3999
Null Values in  nan Column : 3999
Null Values in  nan Column : 3999
Null Values in  nan Column : 3999

In [140]:
# will drop the all colums with nan values 
df_CA= df_CA.dropna(how="any", axis=1)

# check there is no missing data 
for i in df_CA.columns :
    if df_CA[i].isna().sum() != 0 : 
        print('Null Values in ', i, "Column :", df_CA[i].isna().sum())

In [139]:
# Check duplication
df_CA.duplicated().sum()

0

no duplication

### Adjust data type 
### ----
- Change customer_id , postcode, property_valuation data type to be int
- Change state , country to category

In [141]:
df_CA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 1 to 3999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   object
 1   address             3999 non-null   object
 2   postcode            3999 non-null   object
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   object
dtypes: object(6)
memory usage: 187.6+ KB

In [142]:
# Change customer_id , postcode, property_valuation data type to be int
df_CA['customer_id'] = df_CA['customer_id'].astype(int)
df_CA['postcode'] = df_CA['postcode'].astype(int)
df_CA['property_valuation'] = df_CA['property_valuation'].astype(int)

# Change state , country to category
df_CA['state'] = df_CA['state'].astype('category')
df_CA['country'] = df_CA['country'].astype('category')

# check 
df_CA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 1 to 3999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   category
 4   country             3999 non-null   category
 5   property_valuation  3999 non-null   int64
dtypes: category(2), int64(3), object(1)
memory usage: 133.2+ KB

### Check the quality of data
### ----

In [143]:
# check state
df_CA['state'].unique()

['New South Wales', 'QLD', 'VIC', 'NSW', 'Victoria']
Categories (5, object): ['New South Wales', 'QLD', 'VIC', 'NSW', 'Victoria']

In [144]:
# check country
df_CA['country'].unique()

['Australia']
Categories (1, object): ['Australia']

In [146]:
# final data set
df_CA.head(50)

,customer_id,address,postcode,state,country,property_valuation
1,1,060 Morning Avenue,2016,New South Wales,Australia,10
2,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
3,4,0 Holy Cross Court,4211,QLD,Australia,9
4,5,17979 Del Mar Point,2448,New South Wales,Australia,4
5,6,9 Oakridge Court,3216,VIC,Australia,9
6,7,4 Delaware Trail,2210,New South Wales,Australia,9
7,8,49 Londonderry Lane,2650,New South Wales,Australia,4
8,9,97736 7th Trail,2023,New South Wales,Australia,12
9,11,93405 Ludington Park,3044,VIC,Australia,8
10,12,44339 Golden Leaf Alley,4557,QLD,Australia,4
11,13,2 Sutherland Street,3799,VIC,Australia,6
12,14,9 Mcbride Trail,2760,New South Wales,Australia,8
13,15,9861 New Castle Avenue,2428,New South Wales,Australia,9
14,16,52 Moland Street,3331,VIC,Australia,4
15,17,82391 Kensington Lane,3058,VIC,Australia,9
16,18,092 2nd Alley,2135,New South Wales,Australia,12
17,19,59 Spaight Circle,2233,New South Wales,Australia,9
18,20,032 Bartelt Crossing,2444,New South Wales,Australia,8
19,21,18 Jenna Center,2650,New South Wales,Australia,7
20,24,3 Cordelia Plaza,2153,New South Wales,Australia,10
21,25,28 5th Center,4413,QLD,Australia,3
22,26,52 Carey Alley,4740,QLD,Australia,5
23,27,96 Texas Plaza,3218,VIC,Australia,7
24,28,48 Eagan Avenue,4868,QLD,Australia,4
25,29,9 Buell Park,4116,QLD,Australia,7
26,30,02663 Buell Parkway,2519,New South Wales,Australia,11
27,31,2294 Pleasure Place,2135,New South Wales,Australia,12
28,32,2951 Petterle Place,2756,New South Wales,Australia,9
29,33,63 Lukken Drive,2170,New South Wales,Australia,9
30,34,833 Luster Way,4005,QLD,Australia,8
31,35,34 Russell Plaza,4127,QLD,Australia,6
32,36,78 Del Sol Hill,2535,New South Wales,Australia,8
33,37,54 Sage Plaza,4726,QLD,Australia,1
34,38,90 Lawn Parkway,4805,QLD,Australia,4
35,39,38726 Ilene Crossing,2212,New South Wales,Australia,10
36,40,3496 Brown Drive,2207,New South Wales,Australia,8
37,41,7188 Cody Way,3350,VIC,Australia,9
38,42,1 Claremont Park,3931,VIC,Australia,10
39,43,60 Eagan Circle,4018,QLD,Australia,8
40,44,89314 Eagle Crest Center,4670,QLD,Australia,2
41,45,2028 Lakewood Place,2480,New South Wales,Australia,3
42,46,70875 Hudson Point,3212,VIC,Australia,6
43,47,543 Killdeer Park,2322,New South Wales,Australia,4
44,48,22125 Ramsey Drive,3198,VIC,Australia,9
45,49,3107 Calypso Terrace,2210,New South Wales,Australia,9
46,50,957 Veith Junction,2047,New South Wales,Australia,10
47,51,4853 Gulseth Avenue,4503,QLD,Australia,5
48,52,9 Michigan Terrace,2145,New South Wales,Australia,8
49,53,62 Steensland Road,4350,QLD,Australia,3
50,54,6 Homewood Avenue,2142,New South Wales,Australia,8